<app-nav-bar  id="sqlintro"></app-nav-bar>





<ion-content>
<!-- wag buburahin-->
<h1>INTRODUCTION TO SQL</h1>
<hr class="custom-hr1">
<p>SQL is a standard language for accessing and manipulating databases.</p>
<hr class="custom-hr2">
<div class="anime">
<h1>What is SQL</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL stands for Structured Query Language</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL lets you access and manipulate databases</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>What Can SQL do?</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can execute queries against a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can retrieve data from a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can insert records in a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can update records in a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can delete records from a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can create new databases</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can create new tables in a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can create stored procedures in a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can create views in a database</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>SQL can set permissions on tables, procedures, and views</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>SQL is a Standard - BUT....</h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Although SQL is an ANSI/ISO standard, there are different versions of the SQL language.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>However, to be compliant with the ANSI standard, they all support at least the major commands (such as <span class="bulletred">SELECT, UPDATE, DELETE, INSERT, WHERE</span>) in a similar manner.</p>
</ion-item>
<br>
<div class="note-container">
  <div class="note-1">
    <p><b>Note: </b>Most of the SQL database programs also have their own proprietary extensions in addition to the SQL standard!</p>
  </div>
</div>
<br>
<hr class="custom-hr2">
<h1>Using SQL in Your Web Site</h1>
<p>To build a web site that shows data from a database, you will need:</p>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>An RDBMS database program (i.e. MS Access, SQL Server, MySQL)</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>To use a server-side scripting language, like PHP or ASP</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>To use SQL to get the data you want</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>To use HTML / CSS to style the page</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>RDBMS</h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>RDBMS stands for Relational Database Management System.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>RDBMS is the basis for SQL, and for all modern database systems such as MS SQL Server, IBM DB2, Oracle, MySQL, and Microsoft Access.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The data in RDBMS is stored in database objects called tables. A table is a collection of related data entries and it consists of columns and rows.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Look at the "Customers" table:</p>
</ion-item>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>SELECT <span class="bulletblue">*</span> FROM <span class="bulletblue">Customers</span></p>
  </div>
</div>
<br>
<p>Click "Run SQL" to see the result.</p>
<ion-button (click)="runSQL()">Run the SQL</ion-button>
<br>
<h1>Result:</h1>
<div class="output-container">
  <div *ngIf="showOutput1" class="output1">
    <p>Click 'Run SQL' to execute the SQL statement above.</p>
  </div>
  <div *ngIf="showTable" class="output-table">
    <div class="table-container">
      <table class="element-table">
        <thead>
          <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>ContactNumber</th>
            <th>Address</th>
            <th>City</th>
            <th>PostalCode</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Rhonalyn Ortiz</td>
            <td>09326578793</td>
            <td>Tabon</td>
            <td>San Isidro</td>
            <td>3106</td>
            <td>Philippines</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Rhonalyn Ortiz</td>
            <td>09326578793</td>
            <td>Tabon</td>
            <td>San Isidro</td>
            <td>3106</td>
            <td>Philippines</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Rhonalyn Ortiz</td>
            <td>09326578793</td>
            <td>Tabon</td>
            <td>San Isidro</td>
            <td>3106</td>
            <td>Philippines</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Every table is broken up into smaller entities called fields. The fields in the Customers table consist of CustomerID, CustomerName, ContactName, Address, City, PostalCode and Country. A field is a column in a table that is designed to maintain specific information about every record in the table.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>A record, also called a row, is each individual entry that exists in a table. For example, there are 91 records in the above Customers table. A record is a horizontal entity in a table.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>A column is a vertical entity in a table that contains all information associated with a specific field in a table.</p>
</ion-item>
<br>
</div>
<br>
<hr class="custom-hr2">
<ion-item lines="none" style="display: flex; align-items: center;">
  <h5 style="margin-right: 10px;">Test yourself with some exercises?</h5>
  <ion-button class="click-here">Click here</ion-button>
</ion-item>
<div class="home-next">
  <ion-button [routerLink]="['/home']">HOME</ion-button>
  <ion-button [routerLink]="['/sqlsyntax']">Next Chapter</ion-button>
</div>
<br><br>
</ion-content>