<!-- Menu, Search, Profile -->
<ion-menu side="start" menuId="main-menu-html" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end" (click)="closeMenu()"><ion-icon name="arrow-back-outline" class="arrow-close"></ion-icon></ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="color-menu"> <!-- Menu Panel -->
    <ion-list class="menu-tool">

      <ion-item button routerLink="/home" class="menu-item">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <!--Learn menu panel -->
      <ion-item button routerLink="/learn" (click)="toggleSubtopics()" class="menu-item">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Learn</ion-label>
      </ion-item>
        <ion-list id="subtopics" [class.hidden]="!showSubtopics"  class="menu-tool">
          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

        </ion-list>
      <!--Learn menu panel -->


      <ion-item button routerLink="/challenges" class="menu-item">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Challenges</ion-label>
      </ion-item>

      <ion-item button routerLink="/tutorials" class="menu-item">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Tutorials</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="head">
  <ion-item id="main-content">

    <ion-buttons slot="start"><!-- Menu Button -->
      <ion-menu-button menu="main-menu-html"></ion-menu-button>
    </ion-buttons>

    <ion-input clearInput placeholder="  search.."  class="input"><!-- Search button, Input -->
      <ion-icon name="search-outline" slot="end" class="search-icon"></ion-icon>
    </ion-input>
    
    <ion-buttons (click)="showPopup()"><!-- Profile Button Popup Message -->
      <ion-icon slot="end" name="person-circle-outline" class="profile-button"></ion-icon>
    </ion-buttons>

  </ion-item> 
</ion-header> 

<!-- Popup Message -->
<ion-modal [isOpen]="isPopupVisible" (ionModalDidDismiss)="closePopup()">
  <ng-template>
    <ion-content class="popup-container">
      
      <div class="popup-content">
        <ion-buttons class="back">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        </ion-buttons>

        <ion-item>

          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-header>
            <ion-card-title>Rhonalyn Ortiz!</ion-card-title>
            <ion-card-subtitle>
              ortizrhonalynmail.com
            </ion-card-subtitle>
          </ion-header>
        </ion-item>

        <ion-button class="ion-close" (click)="closePopup()">LOGOUT -></ion-button>
      </div>
    
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <div class="option">
    <a [routerLink]="['/html']" class="active">HTML</a>
    <a routerLink="/css" class="active">CSS</a>
    <a routerLink="/js" class="active">JS</a>
    <a routerLink="/python" class="active">PYTHON</a>
    <a routerLink="/sql" class="active">SQL</a>
    <a routerLink="/php" class="active">PHP</a>
    <a routerLink="/java" class="active">JAVA</a>
    <a routerLink="/c++" class="active">C++</a>
  </div>






<ion-content padding class="intro">
  <h1>HTML  BASIC EXAMPLES</h1>
  <hr class="custom-hr1">
  <p>In this chapter we will show some basic HTML examples.</p>
  <hr class="custom-hr2">
  <h1>HTML  Documents</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p class="sixthbullet">All HTML documents must start with a document type declaration: <span class="bulletred">&lt;!DOCTYPE html&gt;</span>.</p>
  </ion-item>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The HTML document itself begins with <span class="bulletred">&lt;html&gt;</span> and ends with <span class="bulletred">&lt;/html&gt;</span>.</p>
  </ion-item>    
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The visible part of the HTML document is between <span class="bulletred">&lt;body&gt;</span> and <span class="bulletred">&lt;/body&gt;</span>.</p>
  </ion-item>    
  <h1>EXAMPLE</h1>
  <div class="example1">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;h1&gt;<span>My First Heading</span>&lt;/h1&gt;</p>
    <p>&lt;p&gt;<span>My first paragraph.</span>&lt;/p&gt;</p>
    <br>
    <p>&lt;/body&gt;</p>
    <p>&lt;/html&gt;</p>
  </div>
  <br>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output1">
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
  </div>
  <hr class="custom-hr2">
  <h1 class="doctype">The &lt;!DOCTYPE&gt; Declaration</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p class="sixthbullet">The <span class="bulletred">&lt;!DOCTYPE html&gt;</span>  declaration represents the document type, and helps browsers to display web pages correctly.</p>
  </ion-item>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>It must only appear once, at the top of the page (before any HTML tags).</p>
  </ion-item>    
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">&lt;!DOCTYPE&gt;</span> declaration is not case sensitive.</p>
  </ion-item>    
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">&lt;!DOCTYPE&gt;</span> declaration for HTML5 is:</p>
  </ion-item>    

  <div class="example2">
    <p>&lt;!DOCTYPE html&gt;</p>
  </div>
  <hr class="custom-hr2">
  <h1>HTML Headings</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p class="sixthbullet">HTML headings are defined with the <span class="bulletred">&lt;h1&gt;</span> to <span class="bulletred">&lt;h6&gt;</span> tags.</p>
  </ion-item>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p><span class="bulletred">&lt;h1&gt;</span> defines the most important heading.
    <span class="bulletred">&lt;h6&gt;</span> defines the least important heading: </p>
  </ion-item>
  <h1>EXAMPLE</h1>
  <div class="example3">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;h1&gt;<span>This is heading 1</span>&lt;/h1&gt;</p>
    <p>&lt;h2&gt;<span>This is heading 2</span>&lt;/h2&gt;</p>
    <p>&lt;h3&gt;<span>This is heading 3</span>&lt;/h3&gt;</p>
    <p>&lt;h4&gt;<span>This is heading 4</span>&lt;/h4&gt;</p>
    <p>&lt;h5&gt;<span>This is heading 5</span>&lt;/h5&gt;</p>
    <p>&lt;h6&gt;<span>This is heading 6</span>&lt;/h6&gt;</p>
    <br>
    <p>&lt;/body&gt;</p>
    <p>&lt;/html&gt;</p>
  </div>
  <br>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output3">
    <p>This is heading 1</p>
    <p>This is heading 2</p>
    <p>This is heading 3</p>
    <p>This is heading 4</p>
    <p>This is heading 5</p>
    <p>This is heading 6</p>
  </div>
  <hr class="custom-hr2">
  <h1>HTML Paragraphs</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>HTML paragraphs are defined with the <span class="bulletred">&lt;p&gt;</span> tag:</p>
  </ion-item> 
  <h1>EXAMPLE</h1>
  <div class="example4">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;p&gt;<span>This is a paragraph.</span>&lt;/p&gt;</p>
    <p>&lt;p&gt;<span>This is another paragraph.</span>&lt;p&gt;</p>
    <br>
    <p>&lt;body&gt;</p>
    <p>&lt;html&gt;</p>
  </div>
  <br><br>
  <h1>OUTPUT:</h1>
  <div class="output4">
    <p>This is a paragraph.</p>
    <p>This is another paragraph.</p>
  </div>

  <hr class="custom-hr2" style="margin-top: 50px;">
  <h1>HTML Links</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>HTML links are defined with the <span class="bulletred">&lt;a&gt;</span> tag:</p>
  </ion-item> 
  <h1>EXAMPLE</h1>
  <div class="example5">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;h2&gt;<span>HTML Links</span>&lt;/h2&gt;</p>
    <p>&lt;p&gt;<span>HTML links are defined with the a tag:</span>&lt;/p&gt;</p>
    <p>&lt;a href=<span class="bulletblue">"https://www.youtube.com"</span>&gt;<span>This is a link</span>&lt;/a&gt;</p>
    <br>
    <p>&lt;/body&gt;</p>
    <p>&lt;/html&gt;</p>
  </div>
  <br><br>
  <h1>OUTPUT:</h1>
  <div class="output5">
    <p>HTML Links</p>
    <p>HTML links are defined with the a tag:</p>
    <p><u class="bulletblue">This is a link</u></p>
  </div>
  <br><br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The link's destination is specified in the <span class="bulletred">href</span> attribute. </p>
  </ion-item>    
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>Attributes are used to provide additional information about HTML elements.</p>
  </ion-item>    
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>You will learn more about attributes in a later chapter.</p>
  </ion-item>    
  <hr class="custom-hr2">
  <h1>HTML Images</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>HTML images are defined with the <span class="bulletred">&lt;img&gt;</span> tag.</p>
  </ion-item>    
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The source file (<span class="bulletred">src</span>), alternative text (<span class="bulletred">alt</span>), <span class="bulletred">width</span>, and <span class="bulletred">height</span> are provided as attributes:</p>
  </ion-item>
  <h1>EXAMPLE</h1>
  <div class="example5">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;h2&gt;<span>HTML Images</span>&lt;/h2&gt;</p>
    <p>&lt;p&gt;<span>HTML images are defined with the img tag:</span>&lt;/p&gt;</p>
    <br>
    <p>&lt;img src=<span class="bulletblue">"codejpg"</span> alt=<span class="bulletblue">"codecom"</span> width=<span class="bulletblue">"104"</span> height=<span class="bulletblue">"142"</span>&gt;</p>
    <br>
    <p>&lt;/body&gt;</p>
    <p>&lt;/html&gt;</p>
  </div>
  <br><br>
  <div class="output6">
    <h2>HTML Images</h2>
    <p>HTML images are defined with the img tag:</p>
    <img src="../../assets/img/html_image.jpg">
  </div>
  <br><br>
  <hr class="custom-hr2">
  <h1>How to View HTML Source</h1>
  <p>Have you ever seen a Web page and wondered "Hey! How did they do that?"</p>
  <br><br>
  <ion-item lines="none" class="icon-text-container">
    <ion-icon name="radio-button-on-outline"></ion-icon>
    <div class="text-content">
      <p class="first-text">View HTML Source Code:</p>
      <div class="second-icon-text-container">
        <ion-icon name="return-down-forward-outline"></ion-icon>
        <p class="second-text"> Click CTRL + U in an HTML page, or right-click on the page and select "View Page Source". This will open a new tab containing the HTML source code of the page.</p>
      </div>
    </div>
  </ion-item>
  <br><br>
  <ion-item lines="none" class="icon-text-container">
    <ion-icon name="radio-button-on-outline"></ion-icon>
    <div class="text-content">
      <p class="first-text">Inspect an HTML Element:</p>
      <div class="second-icon-text-container">
        <ion-icon name="return-down-forward-outline"></ion-icon>
        <p class="second-text">Right-click on an element (or a blank area), and choose "Inspect" to see what elements are made up of (you will see both the HTML and the CSS). You can also edit the HTML or CSS on-the-fly in the Elements or Styles panel that opens.</p>
      </div>
    </div>
  </ion-item>
  <hr class="custom-hr2">
    <ion-item lines="none" style="display: flex; align-items: center;">
      <h5 style="margin-right: 10px;">Test yourself with some exercises?</h5>
      <ion-button class="click-here">Click here</ion-button>
    </ion-item>
    <div class="home-next">
      <ion-button [routerLink]="['/html']">HOME</ion-button>
      <ion-button [routerLink]="['/htmlelement']">Next Chapter</ion-button>
    </div>
    <br><br>
  
</ion-content>
</ion-content>