#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #head{
    padding: 5px 0;
  }
  
  .menu-tool{//<!-- Menu Panel -->
    background: linear-gradient(to top , #fb7c57, #ffe6d5);
  }
  
  #main-content{//<!-- Menu content -->
    margin: 0;
    padding: 0;
  }
  
  .input{//<!-- search input -->
    border: 1px solid black;
    border-radius: 50px;
    width: 90%;
    margin:0;
    height: 1px;
    padding: 0 5px;
  }
  
  .profile-button{//<!-- Profile Button Popup Message -->
    width: 30px;
    height: 30px;
  }
  
  .search-icon{//<!-- Search button-->
    width: 30px;
    height: 30px;
  
  }
  
  .option{//<!-- Overflow-x Language Options -->
    display: flex;
    background-color: #ffe6d5; 
    text-align: center;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    
  }
  .option a{//<!-- Overflow-x Language Options -->
    display: inline-block;
    text-decoration: none;
    color: rgb(17, 17, 17);
    background-color: #ffe6d5;
    padding: 5px 20px;
    border: 1px transparent;
    font-size: 13px;
  
  }
  
  //Main content
  .tag-container{//Tagline
    text-align: center;
    height: 300px;
    margin-bottom: 100px;
    border: 1px solid rgb(128, 126, 126);
    border-radius: 10px; 
    background-color: #fcfafa;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  .tag-container img{
    display: flex;
    justify-content: left;
    margin: 10px;
  
  }
  
  .tag-container h1{
    color: rgb(30, 31, 31);
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
  }
  
  #mess-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    position: relative;
    bottom: 50px;
  }
  
  #mess-container ion-button{
    height: 50px;
    width: 70%;
    background: linear-gradient(to top , #fb7c57, #ffe6d5);
    border-radius: 40px;
    color: rgb(31, 30, 29);
    text-decoration: underline;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  #mess-container p{
    font-size: 20px;
    font-weight: bold;
    color: black;
    
    
  }
  
  // Popup Message
  .popup-content {
    padding: 20px;
    text-align: center;
    width: 80%;
    height: 50%;
    color: black;
  }
  
  .popup-content p h3{
  
    color: black;
  }
  
  ion-modal {
    --width: 300px;
    --height: 200px;
    --border-radius: 10px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  
  
  
    
  
  
  
  
  
  
  
    
//simula ng htmlbasic
//simula
.option a:first-of-type {
    background: linear-gradient(to bottom right, #ffe6d5, #fb7c57);
} 
//size nung laman(modify para humaba)
.intro{
  height: 2500px;
}
.intro h1{
  margin-left: 10px;
  margin-top:25px;
  font-size: 20px;
  font-weight: 600;
}
.intro h1:nth-of-type(2){
    margin-left: 15px;
    margin-top:25px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
  }
.custom-hr1 {
  border: none;
  border-top: 3px solid black;
  margin: 15px 40px 20px 10px;
  width: 93%;
}
.custom-hr2 {
  border: none;
  border-top: 1px solid black;
  margin: 20px 40px 10px 10px;
  width: 93%;
}
.intro p{
  margin-left: 15px;
  font-weight: 100;
}
.custom-icon {
  color: #ec8b70;
  margin-right: 4px;
}
.icon-text {
  display: flex;
  align-items: flex-start;
}
//settings sa printing na may bullet
.icon-text ion-icon {
  margin-right: 8px;
  flex-shrink: 0;
}
.icon-text p {
  margin: 0;
  flex-grow: 1;
  word-wrap: break-word;
}
.sixthbullet{
  padding-bottom: 10px;
}
.bulletred{
  color: red;
}
//end nung may bullet
.example1{
  height: 158px;
  width: 88%;
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.example1 p, .example3 p, .example4 p{
  font-size: 11px;
  margin-left: 2px;
  margin-top: 2px;
  color: red;
}
.example1 p:nth-of-type(1),.example4 p:nth-of-type(1){
    margin-top: 8px;
}
.example1 p:nth-of-type(2),.example1 p:nth-of-type(3),.example1 p:nth-of-type(4),.example1 p:nth-of-type(5),
.example1 p:nth-of-type(6),.example1 p:nth-of-type(7),.example1 p:nth-of-type(8),.example1 p:nth-of-type(9),
.example1 p:nth-of-type(10),.example3 p:nth-of-type(2),.example3 p:nth-of-type(3),.example3 p:nth-of-type(4),
.example3 p:nth-of-type(5),.example3 p:nth-of-type(6),.example3 p:nth-of-type(7),.example3 p:nth-of-type(8),
.example3 p:nth-of-type(9),.example3 p:nth-of-type(10), .example3 p:nth-of-type(11), .example3 p:nth-of-type(12),
.example4 p:nth-of-type(2),.example4 p:nth-of-type(3),.example4 p:nth-of-type(4),.example4 p:nth-of-type(5),
.example4 p:nth-of-type(6),.example4 p:nth-of-type(7){
  margin-top: -10px;
}
.example1 p span, .example3 p span, .example4 p span{
  color: black;
}
.output1{
  height: 105px;
  width: 88%;
  border: 1px solid black;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}
.output1 h1{
  margin-left: 2px;
}
.output1 p{
  margin-left: 2px;
  font-size: 10px;
  font-weight: 100;
}

.example2{
    height: 42px;
    width: 88%;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.example2 p{
    font-size: 11px;
    margin-left: 2px;
    margin-top: 12px;
    color: red;
}
.example3{
    height: 198px;
    width: 88%;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.output3{
    height: 205px;
    width: 88%;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
.output3 p{
    margin-left: 2px;
    margin: 0;
}
.output3 p:nth-of-type(1){
    font-size: 28px;
    margin-top: 2px;
    font-weight: bold;
}
.output3 p:nth-of-type(2){
    font-size: 25px;
    font-weight: bold;
    margin-top: 11px;
}
.output3 p:nth-of-type(3){
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.output3 p:nth-of-type(4){
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}
.output3 p:nth-of-type(5){
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.output3 p:nth-of-type(6){
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.example4{
    height: 158px;
    width: 88%;
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }