<!-- Menu, Search, Profile -->
<!-- -->
<app-nav-bar  id="cppMain"></app-nav-bar>



<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG HTML-->
  <h1 class="html">C++</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A popular programming language.</p>
      <p>Used to create computer programs, and is one of the most used language in game development.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/cppintro']">C++ Introduction</ion-button>
    <ion-button [routerLink]="['/cppsyntax']">C++ Syntax</ion-button>
    <ion-button [routerLink]="['/cppoutput']">C++ Output</ion-button>
    <ion-button [routerLink]="['/cppvariables']">C++ Variables</ion-button>
  </div>
</ion-content>