<app-nav-bar  id="jsstatement"></app-nav-bar>
<ion-content>


  <div class="css-main-container">
    <h1 class="FadeInUp">JavaScript Statements</h1>
    <hr
      style="display: flex; justify-content: center; width: 100%;  border-top: 1px solid black; background-color: black;">


    <div class="css-main-container css-second-container">

      <h2 class="FadeInUp">EXAMPLE: </h2>

      <ion-card class="FadeInUp">

        let <span> x, y, z</span>; <span style="color: #00bf63;">// Statement 4</span><br>
        <span>x</span> = <a>5</a>; <span style="color: #00bf63;">// Statement 4</span><br>
        <span>y</span> = <a>6</a>; <span style="color: #00bf63;">// Statement 4</span><br>
        <span>z</span> = <a>x + y</a>; <span style="color: #00bf63;">// Statement 4</span><br>

      </ion-card>
      <hr>
    </div>


    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Programs</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">A <b>compter program</b> is a list of "instructions" to be "executed" by a computer.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">In a programming language, these programming instructions are called
        <b>statements</b>.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">A <b>JavaScript program</b> is a list of programming <b>statements</b>.</p>
    </ion-item>

  </div>


  <ion-card class="desc-comment FadeInUp" style="text-align: left; border: none;">
    <p>In HTML, JavaScript programs are executed by the web browser.</p>
  </ion-card>
  <hr style="width: 90%;">


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Programs</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">JavaScript statements are composed of:
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Values, Operators, Expressions, Keywords, and Comments.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">This statement tells the browser to write "Hello Dolly." inside an HTML element with
        id="demo":</p>
    </ion-item>

  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>

    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>JavaScript Statements</span>&lt;/h2&gt;<br>
      &lt;p&gt;<span>In HTML, JavaScript statements are executed by the browser.</span>&lt;/p&gt;<br>
      &lt;p id=“<a>demo</a>”&gt;<span></span>&lt;/p&gt;<br>
      <br>
      &lt;script&gt;<br>
      <a>document.getElementById("demo").innerHTML = "Hello Dolly.";</a><br>
      &lt;/script&gt;<br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 27px; text-align: left;"><b>JavaScript Statements</b></p>
      <p id="function2" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">In HTML, JavaScript
        statements are executed by the browser.
      </p>
      <p id="function2" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">Hello Dolly.</p>

    </ion-card>
    <br>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Most JavaScript programs contain many JavaScript statements.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">The statements are executed, one by one, in the same order as they are written.
      </p>
    </ion-item>

  </div>


  <ion-card class="desc-comment FadeInUp" style="text-align: left; border: none;">
    <p>JavaScript programs (and JavaScript statements) are often called JavaScript code.</p>
  </ion-card>
  <hr style="width: 90%;">


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">Semicolons ; </h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Semicolons separate JavaScript statements.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Add a semicolon at the end of each executable statement:
      </p>
    </ion-item>


    <div class="css-main-container css-second-container">

      <h2 class="FadeInUp">EXAMPLE: </h2>

      <ion-card class="FadeInUp">

        let <span> a, b, c</span>; <span style="color: #00bf63;">// Declare 3 variables</span><br>
        <span>a</span> = <a>5</a>; <span style="color: #00bf63;">// Assign the value 5 to a</span><br>
        <span>b</span> = <a>6</a>; <span style="color: #00bf63;">// Assign the value 6 to b</span><br>
        <span>c</span> = <a>a + b</a>; <span style="color: #00bf63;">// Assign the value a and b to c </span><br>

      </ion-card>

    </div>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">When separated by semicolons, multiple statements on one line are allowed:
      </p>
    </ion-item>

    <div class="css-main-container css-second-container">

      <h2 class="FadeInUp">EXAMPLE: </h2>

      <ion-card class="FadeInUp">

        <span>a</span> = <a>5</a>;
        <span>b</span> = <a>6</a>;
        <span>c</span> = <a>a + b</a>;

      </ion-card>
      <hr>
    </div>

  </div>


  <ion-card class="desc-comment FadeInUp" style="text-align: left; border: none;">
    <p>On the web, you might see examples without semicolons. Ending statements with semicolon is not required, but
      highly recommended.</p>
  </ion-card>
  <hr style="width: 90%;">


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript White Space</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">JavaScript ignores multiple spaces. You can add white space to your script to make it
        more readable.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">The following lines are equivalent:
      </p>
    </ion-item>


  </div>


  <div class="css-main-container css-second-container">

    <ion-card class="FadeInUp">
      let <span>person</span> = "<a>Hege</a>";<br>
      let <span>person</span> = "<a>Hege</a>";
    </ion-card>
  </div>


  <div class="css-main-container">

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">A good practice is to put spaces around operators ( = + - * / ):
      </p>
    </ion-item>

  </div>


  <div class="css-main-container css-second-container">

    <ion-card class="FadeInUp">
      let <span>x</span> = <a>y + z</a>;
    </ion-card>
    <hr>
  </div>


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Line Length and Line Breaks</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">For best readability, programmers often like to avoid code lines longer than 80
        characters.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">If a JavaScript statement does not fit on one line, the best place to break it is
        after an operator:
      </p>
    </ion-item>

  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>

    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>JavaScript Statements</span>&lt;/h2&gt;<br>
      &lt;p&gt;<span>The best place to break a code line is after an operator or a comma.</span>&lt;/p&gt;<br>
      &lt;p id=“<a>demo</a>”&gt;<span></span>&lt;/p&gt;<br>
      <br>
      &lt;script&gt;<br>
      <a>document.getElementById("demo").innerHTML = "Hello Dolly!";</a><br>
      &lt;/script&gt;<br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 27px; text-align: left;"><b>JavaScript Statements</b></p>
      <p id="function2" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">The best place to
        break a code line is after an operator or a comma.
      </p>
      <p id="function2" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">Hello Dolly!</p>

    </ion-card>
    <br>
    <hr>
  </div>


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Code Blocks</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">JavaScript statements can be grouped together in code blocks, inside curly brackets
        {{ '{' }}... {{ '}' }}.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">The purpose of code blocks is to define statements to be executed together.
      </p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">One place you will find statements grouped together in blocks, is in JavaScript
        functions:
      </p>
    </ion-item>

  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>

    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>JavaScript Statements</span>&lt;/h2&gt;<br>
      &lt;p&gt;<span>JavaScript code blocks are written between {{ '{' }} and {{ '}' }}</span>&lt;/p&gt;<br>
      <br>
      &lt;button type="<a>button</a>" onclick="myFunction()"&gt;Click Me!&lt;/button&gt;<br><br>
      &lt;p id=“<a>demo1</a>”&gt;<span></span>&lt;/p&gt;<br>
      &lt;p id=“<a>demo2</a>”&gt;<span></span>&lt;/p&gt;<br>
      <br>
      &lt;script&gt;<br>
      function myFunction() {{ '{' }}
      <a>&nbsp;&nbsp;&nbsp;&nbsp;document.getElementById("demo1").innerHTML = "Hello Dolly!"; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;document.getElementById("demo2").innerHTML = "How are you?";</a><br>
      {{ '}' }}<br>
      &lt;/script&gt;<br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 27px; text-align: left;"><b>JavaScript Statements</b></p>
      <p id="function2" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">
        JavaScript code blocks are written between {{ '{' }} and {{ '}' }}<br></p>

      <ion-button (click)="showText = !showText" style="margin-bottom: 15px;"> Click me!</ion-button>

      <p *ngIf="showText" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">Hello Dolly!</p>
      <p *ngIf="showText" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">How are you?</p>


    </ion-card>
    <br>
  </div>


  <ion-card class="desc-comment FadeInUp" style="text-align: left; border: none;">
    <p>In this tutorial we use 2 spaces of indentation for code blocks.</p>
  </ion-card>
  <hr style="width: 90%;">


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Keywords</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">JavaScript statements often start with a keyword to identify the JavaScript action to
        be performed.</p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Our <u>Reserved Words Reference</u> lists all JavaScript keywords.</p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Here is a list of some of the keywords you will learn about in this tutorial:</p>
    </ion-item>
    <br><br>

    <table>
      <tr>
        <th>Keyword</th>
        <th>Description</th>
      </tr>


      <tr style="background-color: #ffe6d5;">
        <td>var</td>
        <td>declares a variable</td>
      </tr>


      <tr>
        <td>let</td>
        <td>declares a block variable</td>
      </tr>


      <tr style="background-color: #ffe6d5;">
        <td>const</td>
        <td>declares a block constant</td>
      </tr>


      <tr style="background-color: #ffe6d5;">
        <td>if</td>
        <td>marks a block of statements to be executed on a condition</td>
      </tr>


      <tr>
        <td>switch</td>
        <td>marks a block of statements to be executed in different cases</td>
      </tr>


      <tr style="background-color: #ffe6d5;">
        <td>for</td>
        <td>marks a block of statements to be executed in a loop</td>
      </tr>


      <tr style="background-color: #ffe6d5;">
        <td>function</td>
        <td>declares a function</td>
      </tr>


      <tr>
        <td>return</td>
        <td>exits a function</td>
      </tr>


      <tr style="background-color: #ffe6d5;">
        <td>try</td>
        <td>implements error handling to a block of statements</td>
      </tr>


    </table>

  </div>


  <ion-card class="desc-comment FadeInUp" style="text-align: left; border: none;">
    <p>JavaScript keywords are reserved words. Reserved words cannot be used as names for variables.</p>
  </ion-card>
  <hr style="width: 90%;">


  <ion-item lines="none" class="FadeInUp">
    <ion-button class="test-exercise" shape="round" slot="end" button>click-here</ion-button>
    <h3><b>Test yourself with some exercises?</b></h3>
  </ion-item>

  <ion-item lines="none" class="back-next FadeInUp">
    <ion-button shape="round" slot="start" routerLink="/js-output">BACK</ion-button>
    <br><br><br><br>
    <br>
    <ion-button shape="round" slot="end" routerLink="js">NEXT CHAPTER</ion-button>
  </ion-item>

</ion-content>