<app-nav-bar  id="cppIntro"></app-nav-bar>




<ion-content>
<!-- wag buburahin-->
<h1>C++ INTRODUCTION</h1>
<hr class="custom-hr1">
<div class="anime1">
<h1>What is C++?</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ is a cross-platform language that can be used to create high-performance applications.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ was developed by Bjarne Stroustrup, as an extension to the C language.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ gives programmers a high level of control over system resources and memory.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The language was updated 5 major times in 2011, 2014, 2017, 2020, and 2023 to C++11, C++14, C++17, C++20, and C++23.</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>Why Use C++</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ is one of the world's most popular programming languages.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ is portable and can be used to develop applications that can be adapted to multiple platforms.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ is fun and easy to learn!.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>As C++ is close to C, C# and <a href="/java" style="color: #f17177;">Java</a>, it makes it easy for programmers to switch to C++ or vice versa.</p>
</ion-item>
<hr class="custom-hr2">
<h1>Difference between C and C++</h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>C++ was developed as an extension of C, and both languages have almost the same syntax.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The main difference between C and C++ is that C++ support classes and objects, while C does not.</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>Get Started</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>This tutorial will teach you the basics of C++.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>When you are finished with this tutorial, you will be able to write C++ programs and create real-life examples.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>It is not necessary to have any prior programming experience.</p>
</ion-item>
<br>
<ion-button [routerLink]="['/cppgetstarted']">Get Started >></ion-button>
</div>
<br>
<hr class="custom-hr2">
<div class="home-next">
  <ion-button [routerLink]="['/home']">HOME</ion-button>
</div>
<br><br>
</ion-content>