<app-nav-bar  id="jsMain"></app-nav-bar>

<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG js-->
  <h1 class="html">JavaScript</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A language for programming webpages.</p>
      <p>to create dynamic and interactive web pages for your users.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/js-intro']">JS Introduction</ion-button>
    <ion-button [routerLink]="['/js-whereto']">JS Where To</ion-button>
    <ion-button [routerLink]="['/js-output']">JS Output</ion-button>
    <ion-button [routerLink]="['/js-statements']">JS Statements</ion-button>
  </div>
</ion-content>