<ion-content>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

  <div class="img">
    <img src="../../assets/img/logo.jpg">
  </div>
  <br>
  <div class="content">

    <div class="nowAppear">
      <span class="appear">C</span>
      <span class="appear">o</span>
      <span class="appear">d</span>
      <span class="appear">e</span>
      <span class="appear">t</span>
      <span class="appear">o</span>
      <span class="appear">l</span>
      <span class="appear">o</span>
      <span class="appear">g</span>
      <span class="appear">y</span>
    </div> 

    <p class="blurAppear">Learn tech skills effortlessly</p>
    <br><br><br>
    <ion-button [routerLink]="['/login']" class="transition">
      Get Started
    </ion-button>

  </div>

</ion-content>