<ion-content>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

  <div class="img">
    <img src="../../assets/img/logo.jpg">
  </div>
  <br>
  <div class="content">

    <div class="nowAppear">
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">C</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">o</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">d</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">e</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">t</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">o</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">l</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">o</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">g</span>
      <span class="appear" style="	font-family: 'Blanka', sans-serif;">y</span>
    </div>

    <p class="blurAppear">Learn tech skills effortlessly</p>
    <br><br><br>
    <ion-button [routerLink]="['/login']" class="transition" *ngIf="!isLogged">
      Get Started
 
    </ion-button>
    <ion-button [routerLink]="['/login']" class="transition" *ngIf="isLogged">
      Loggin In
      <ion-spinner name="circular" style="margin-left: 15px;"></ion-spinner>

    </ion-button>

  </div>


</ion-content>