<app-nav-bar  id="cssMain"></app-nav-bar>


<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG HTML-->
  <h1 class="html">CSS</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A language for styling webpages.</p>
      <p>To set the layout of your web page with beautiful colors, fonts, and much more.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/css-intro']">CSS Introduction</ion-button>
    <ion-button [routerLink]="['/css-basic']">CSS Basic</ion-button>
    <ion-button [routerLink]="['/css-element']">CSS Element</ion-button>
    <ion-button [routerLink]="['/css-attributes']">CSS Attributes</ion-button>
  </div>
</ion-content>