<!-- Menu, Search, Profile -->
<ion-menu side="start" menuId="main-menu-css" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end" (click)="closeMenu()"><ion-icon name="arrow-back-outline" class="arrow-close"></ion-icon></ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="color-menu"> <!-- Menu Panel -->
    <ion-list class="menu-tool">

      <ion-item button routerLink="/home" class="menu-item">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <!--Learn menu panel -->
      <ion-item button routerLink="/learn" (click)="toggleSubtopics()" class="menu-item">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Learn</ion-label>
      </ion-item>
        <ion-list id="subtopics" [class.hidden]="!showSubtopics"  class="menu-tool">


          <div>
            <ion-item button class="menu-item" (click)="toggleTypeHtml()" (click)="toggleArrowHtml()">
              <ion-icon [name]="arrowIconHtml" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>HTML</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesHtml"  class="menu-tool">
              
              <ion-item button routerLink="/htmlintro" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Introduction</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/htmlbasic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Basic</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Element</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>



          <div>
            <ion-item button class="menu-item" (click)="toggleTypeCss()" (click)="toggleArrowCss()">
              <ion-icon [name]="arrowIconCss" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>CSS</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesCss"  class="menu-tool">
              
              <ion-item button routerLink="/css-intro" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Introduction</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/css-basic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Basic</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Element</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>


          <div>
            <ion-item button class="menu-item" (click)="toggleTypeJs()" (click)="toggleArrowJs()">
              <ion-icon [name]="arrowIconJs" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>JavaScript</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesJs"  class="menu-tool">
              
              <ion-item button routerLink="/css-intro" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Introduction</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/css-basic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Basic</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Element</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>


          <div>
            <ion-item button class="menu-item" (click)="toggleTypePy()" (click)="toggleArrowPy()">
              <ion-icon [name]="arrowIconPy" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Python</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesPy"  class="menu-tool">
              
              <ion-item button routerLink="/css-intro" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Introduction</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/css-basic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Basic</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Element</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/subtopic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>


          
          <div>
            <ion-item button class="menu-item" (click)="toggleTypeSQL()" (click)="toggleArrowSQL()">
              <ion-icon [name]="arrowIconSQL" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>SQL</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesSQL" class="menu-tool">
              <ion-item button routerLink="/css-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
              </ion-item>
              <ion-item button routerLink="/css-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>
          

          <div>
            <ion-item button class="menu-item" (click)="toggleTypePHP()" (click)="toggleArrowPHP()">
              <ion-icon [name]="arrowIconPHP" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>PHP</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesPHP" class="menu-tool">
              <ion-item button routerLink="/css-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
              </ion-item>
              <ion-item button routerLink="/css-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>
          

          <div>
            <ion-item button class="menu-item" (click)="toggleTypeJava()" (click)="toggleArrowJava()">
              <ion-icon [name]="arrowIconJava" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Java</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesJava" class="menu-tool">
              <ion-item button routerLink="/css-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
              </ion-item>
              <ion-item button routerLink="/css-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>
          

          <div>
            <ion-item button class="menu-item" (click)="toggleTypeCpp()" (click)="toggleArrowCpp()">
              <ion-icon [name]="arrowIconCpp" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>C++</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesCpp" class="menu-tool">
              <ion-item button routerLink="/css-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
              </ion-item>
              <ion-item button routerLink="/css-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
              </ion-item>
              <ion-item button routerLink="/subtopic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>
          

        </ion-list>
      <!--Learn menu panel -->


      <ion-item button routerLink="/challenges" class="menu-item">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Challenges</ion-label>
      </ion-item>

      <ion-item button routerLink="/tutorials" class="menu-item">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Tutorials</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="head">
  <ion-item id="main-content">

    <ion-buttons slot="start"><!-- Menu Button -->
      <ion-menu-button menu="main-menu-css"></ion-menu-button>
    </ion-buttons>

    <ion-input clearInput placeholder="  search.."  class="input"><!-- Search button, Input -->
      <ion-icon name="search-outline" slot="end" class="search-icon"></ion-icon>
    </ion-input>
    
    <ion-buttons (click)="showPopup()"><!-- Profile Button Popup Message -->
      <ion-icon slot="end" name="person-circle-outline" class="profile-button"></ion-icon>
    </ion-buttons>

  </ion-item> 
</ion-header> 

<!-- Popup Message -->
<ion-modal [isOpen]="isPopupVisible" (ionModalDidDismiss)="closePopup()">
  <ng-template>
    <ion-content class="popup-container">
      
      <div class="popup-content">
        <ion-buttons class="back">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        </ion-buttons>

        <ion-item>

          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-header>
            <ion-card-title>Rhonalyn Ortiz!</ion-card-title>
            <ion-card-subtitle>
              ortizrhonalynmail.com
            </ion-card-subtitle>
          </ion-header>
        </ion-item>

        <ion-button class="ion-close" (click)="closePopup()">LOGOUT -></ion-button>
      </div>
    
    </ion-content>
  </ng-template>
</ion-modal>


<!-- WAG BUBURAHIN -->
<!-- Background settings -->
<div class="option">
  <a [routerLink]="['/html']" class="active">HTML</a>
  <a routerLink="/css" class="active">CSS</a>
  <a routerLink="/js" class="active">JS</a>
  <a routerLink="/python" class="active">PYTHON</a>
  <a routerLink="/sql" class="active">SQL</a>
  <a routerLink="/php" class="active">PHP</a>
  <a routerLink="/java" class="active">JAVA</a>
  <a routerLink="/c++" class="active">C++</a>
</div>

<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG HTML-->
  <h1 class="html">CSS</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A language for styling webpages.</p>
      <p>To set the layout of your web page with beautiful colors, fonts, and much more.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/css-intro']"><u>CSS Introduction</u></ion-button>
    <ion-button [routerLink]="['/css-basic']"><u>CSS Basic</u></ion-button>
    <ion-button [routerLink]="['/css-element']"><u>CSS Element</u></ion-button>
    <ion-button [routerLink]="['/css-attributes']"><u>CSS Attributes</u></ion-button>
  </div>
</ion-content>