<!-- Menu, Search, Profile -->
<ion-menu side="start" menuId="main-menu-html" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end" (click)="closeMenu()"><ion-icon name="arrow-back-outline" class="arrow-close"></ion-icon></ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="color-menu"> <!-- Menu Panel -->
    <ion-list class="menu-tool">

      <ion-item button routerLink="/home" class="menu-item">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <!--Learn menu panel -->
      <ion-item button routerLink="/learn" (click)="toggleSubtopics()" class="menu-item">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Learn</ion-label>
      </ion-item>
        <ion-list id="subtopics" [class.hidden]="!showSubtopics"  class="menu-tool">
          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

        </ion-list>
      <!--Learn menu panel -->


      <ion-item button routerLink="/challenges" class="menu-item">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Challenges</ion-label>
      </ion-item>

      <ion-item button routerLink="/tutorials" class="menu-item">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Tutorials</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="head">
  <ion-item id="main-content">

    <ion-buttons slot="start"><!-- Menu Button -->
      <ion-menu-button menu="main-menu-html"></ion-menu-button>
    </ion-buttons>

    <ion-input clearInput placeholder="  search.."  class="input"><!-- Search button, Input -->
      <ion-icon name="search-outline" slot="end" class="search-icon"></ion-icon>
    </ion-input>
    
    <ion-buttons (click)="showPopup()"><!-- Profile Button Popup Message -->
      <ion-icon slot="end" name="person-circle-outline" class="profile-button"></ion-icon>
    </ion-buttons>

  </ion-item> 
</ion-header> 

<!-- Popup Message -->
<ion-modal [isOpen]="isPopupVisible" (ionModalDidDismiss)="closePopup()">
  <ng-template>
    <ion-content class="popup-container">
      
      <div class="popup-content">
        <ion-buttons class="back">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        </ion-buttons>

        <ion-item>

          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-header>
            <ion-card-title>Rhonalyn Ortiz!</ion-card-title>
            <ion-card-subtitle>
              ortizrhonalynmail.com
            </ion-card-subtitle>
          </ion-header>
        </ion-item>

        <ion-button class="ion-close" (click)="closePopup()">LOGOUT -></ion-button>
      </div>
    
    </ion-content>
  </ng-template>
</ion-modal>


<!-- WAG BUBURAHIN -->
<!-- Background settings -->
<div class="option">
  <a [routerLink]="['/html']" class="active">HTML</a>
  <a routerLink="/css" class="active">CSS</a>
  <a routerLink="/js" class="active">JS</a>
  <a routerLink="/python" class="active">PYTHON</a>
  <a routerLink="/sql" class="active">SQL</a>
  <a routerLink="/php" class="active">PHP</a>
  <a routerLink="/java" class="active">JAVA</a>
  <a routerLink="/c++" class="active">C++</a>
</div>


<ion-content>

  <div class="css-main-container">
    <h1 class="FadeInUp">CSS INTRODUCTION</h1>
    <hr style="display: flex; justify-content: center; width: 100%;  border: 1px solid black; background-color: black;">

    <p class="FadeInUp">CSS is the language we use to style a Web page.</p>
    <hr>
    
    <ion-item lines="none"  class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p>CSS stands for Cascading Style Sheets.</p>
    </ion-item>

    <ion-item lines="none"  class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p>CSS describes how HTML elements are to be displayed on screen, paper, or in other media.</p>
    </ion-item>

    <ion-item lines="none"  class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p>CSS saves a lot of work. It can control the layout of multiple web pages all at once.</p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p>External stylesheets are stored in CSS files.</p>
    </ion-item>

    <hr>

  </div>

  <div class="css-main-container css-second-container">
    <h2 class="FadeInUp">Why Use CSS?</h2>
    <p class="FadeInUp">CSS is used to define styles for your web pages, including the design, layout and variations in display for different devices and screen sizes.</p>

    <h2 class="FadeInUp">EXAMPLE: </h2>
    <ion-card  class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;head&gt;<br>
      &lt;style&gt;<br>
      body {{ '{' }} <br>
      &nbsp;&nbsp;&nbsp;background-color: <a>lightblue</a>;<br>
      {{ '}' }} <br>
      <br>
      h1 {{ '{' }} <br>
      &nbsp;&nbsp;&nbsp;color: <a>white</a>; <br>
      &nbsp;&nbsp;&nbsp;text-align: <a>center</a>; <br> 
      {{ '}' }} <br>
      <br>
      p {{ '{' }} <br>
      &nbsp;&nbsp;&nbsp;font-family: <a>verdana</a>; <br>
      &nbsp;&nbsp;&nbsp;font-size: <a>20px</a>; <br>
      {{ '}' }}
      <br>
      &lt;/head&gt;<br>
      &lt;/head&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h1&gt;<span>My First CSS Example</span>&lt;/h1&gt;<br>
      &lt;p&gt;<span>This is paragraph.</span>&lt;/p&gt;<br>
      <br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>
    
    </ion-card>

    <br><br><br><br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="background-color: #ADDBE6;  padding-top: 100px; padding-bottom: 100px; padding-left: 0; padding-right: 0; " >
      <h1 style="text-align: center; color: black;">CSS INTRODUCTION</h1>
      <p style="color: black;">This is paragraph.</p>
    </ion-card>
    <br>
    <hr>
  </div>



  <div class="css-main-container" >
    <h1 class="FadeInUp" style="font-size: 26px;">CSS Solved a Big Problem</h1>
  
    <ion-item lines="none"  class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">HTML was NEVER intended to contain tags for formatting a web page!</p>
    </ion-item>
  
    <ion-item lines="none"  class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">HTML was created to describe the content of a web page, like:
        <br>
        &lt;h1&gt;This is a heading&lt;/h1&gt;
        <br>
        &lt;p&gt;This is a paragraph.&lt;/p&gt;</p>
    </ion-item>
  
    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">When tags like &lt;font&gt;, and color attributes were added to the HTML 3.2 specification, it started a nightmare for web developers. 
        Development of large websites, where fonts and color information were added to every single page, became a long and expensive process.</p>
    </ion-item>
  
    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">CSS removed the style formatting from the HTML page!</p>
    </ion-item>

    <ion-card class="desc-comment" class="FadeInUp">
      <p>You will learn much more about CSS selectors and CSS properties in the next chapters!</p>
    </ion-card>
  
    <hr>
  </div>

  <ion-item lines="none"   class="FadeInUp">
    <ion-button class="test-exercise" shape="round" slot="end" button>click-here</ion-button>
    <h3>Test yourself with some exercises?</h3>
  </ion-item>

  <ion-item lines="none" class="back-next FadeInUp">
    <ion-button shape="round" slot="start">BACK</ion-button>
    <br><br><br><br>
    <br>
    <ion-button shape="round" slot="end">NEXT CHAPTER</ion-button>
  </ion-item>


</ion-content>




