<ion-content class="content">
  <div class="img">
      <img src="../../assets/img/LOGO.png">
  </div>

  <div class="login-content">
      <br><br><br><br><br><br>
      <h5>Already have an account?</h5>
      <ion-button routerLink="/loginpage"  shape="round">Log In</ion-button>
      <br>

      <hr class="custom-line">
      
      <br>
      <ion-card-subtitle>or</ion-card-subtitle>
      <h5>Create an account.</h5>
      <ion-button routerLink="/signup" shape="round">Sign Up </ion-button>
      <br>

      <hr class="custom-line">

      <br>
      <h5>Become a guest</h5>
      <ion-button routerLink="/home" shape="round">
          <ion-icon slot="start" name="person-circle-outline" ></ion-icon>
            Guest
      </ion-button>
  </div>
</ion-content>
