<app-nav-bar  id="pysyntax"></app-nav-bar>




<ion-content>

<!-- wag buburahin-->
<h1>PYTHON SYNTAX</h1>
<hr class="custom-hr1">
<div class="anime1">
<h1>Execute Python Syntax</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>As we learned in the previous page, Python syntax can be executed by writing directly in the Command Line:</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">>> print("Hello, World!")</p>
    <p style="color: rgb(255, 245, 245);">Hello, World!</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Or by creating a python file on the server, using the .py file extension, and running it in the Command Line:</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">C:\Users\<i>Your Name</i>>python myfile.py/p>
  </div>
</div>
<br><br>
<hr class="custom-hr2">
<h1>Python Indentation</h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Indentation refers to the spaces at the beginning of a code line.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Python uses indentation to indicate a block of code.</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>if <span style="color: rgb(8, 8, 8)">5 </span><span class="bulletblue">> </span><span style="color: rgb(8, 8, 8);">2</span>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">Five is greater than two!"</span>)</span>
    </p>
  </div>
</div>
<br>
<h1>OUTPUT</h1>
<div class="output-container">
  <div class="output1">
    <p>Five is greater than two!</p>
  </div>
</div>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Python will give you an error if you skip the indentation:</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>if <span style="color: rgb(8, 8, 8)">5 </span><span class="bulletblue">> </span><span style="color: rgb(8, 8, 8);">2</span>
      <br>print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">Five is greater than two!"</span>)</span>
    </p>
  </div>
</div>
<br>
<h1>OUTPUT</h1>
<div class="output-container">
  <div class="output1">
    <p>&nbsp;&nbsp;&nbsp;File "demo_indentation_test.py", line 2
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print("Five is greater than two!")
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^
      <br>IndentationError: expected an indented block
    </p>
  </div>
</div>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>if <span style="color: rgb(8, 8, 8)">5 </span><span class="bulletblue">> </span><span style="color: rgb(8, 8, 8);">2</span>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">Five is greater than two!"</span>)</span><br>
      if <span style="color: rgb(8, 8, 8)">5 </span><span class="bulletblue">> </span><span style="color: rgb(8, 8, 8);">2</span>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">Five is greater than two!"</span>)</span>
    </p>
  </div>
</div>
<br>
<h1>OUTPUT</h1>
<div class="output-container">
  <div class="output1">
    <p>Five is greater than two!<br>Five is greater than two!</p>
  </div>
</div>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>if <span style="color: rgb(8, 8, 8)">5 </span><span class="bulletblue">> </span><span style="color: rgb(8, 8, 8);">2</span>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">Five is greater than two!"</span>)</span>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">Five is greater than two!"</span>)</span>
    </p>
  </div>
</div>
<br>
<h1>OUTPUT</h1>
<div class="output-container">
  <div class="output1">
    <p>&nbsp;&nbsp;&nbsp;File "demo_indentation_test.py", line 3
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print("Five is greater than two!")
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^
      <br>IndentationError: unexpected indent
    </p>
  </div>
</div>
<br>
<hr class="custom-hr2">
<h1>Python Variables</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>In Python, variables are created when you assign a value to it:</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>x <span class="bulletblue"> = </span><span style="color: rgb(8, 8, 8)">5</span>
      <br>
      y <span class="bulletblue"> = </span><span style="color: rgb(8, 8, 8)">"Hello, World!"</span><br><br>
      print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">x</span>)</span><br>
      print <span class="bulletblue">(<span style="color: rgb(8, 8, 8);">y</span>)</span>
    </p>
  </div>
</div>
<br>
<h1>OUTPUT</h1>
<div class="output-container">
  <div class="output1">
    <p>5 <br> Hello, World!
    </p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Python has no command for declaring a variable.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>You will learn more about variables in the <a href="/pyvariables" style="color:#f17177;">Python Variables chapter</a>.</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>Comments</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Python has commenting capability for the purpose of in-code documentation.</p>
</ion-item>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Comments start with a #, and Python will render the rest of the line as a comment:</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>
      <span style="color: green">#This is a comment</span><br>
      print <span class="bulletblue">(<span style="color: rgb(8, 8, 8)">"Hello, World!"</span>)</span>
    </p>
  </div>
</div>
<br>
<h1>OUTPUT</h1>
<div class="output-container">
  <div class="output1">
    <p>Hello, World!</p>
  </div>
</div>
</div>
<br>
<hr class="custom-hr2">
<ion-item lines="none" style="display: flex; align-items: center;">
  <h5 style="margin-right: 10px;">Test yourself with some exercises?</h5>
  <ion-button class="click-here">Click here</ion-button>
</ion-item>
<div class="home-next">
  <ion-button [routerLink]="['/home']">HOME</ion-button>
  <ion-button [routerLink]="['/pyvariables']">Next Chapter</ion-button>
</div>
<br><br>
</ion-content>