


.paragraphWrapper{
    border: 1px solid red;
}

::ng-deep .mainTitle{
    color: #171717;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
    border: 1px solid red;
}

::ng-deep .subTitle{
    border: 1px solid blue;
    font-size: 25px;
    font-weight: 700;
    color: #171717;
    margin-top: 30px;
}

::ng-deep .paragContent{
    color: #444444;
    font-size: 17px;

}

::ng-deep .image{
    border: 1px solid red;
    width: 100%;
    min-height: 220px;
}