<!-- Menu, Search, Profile -->
<ion-menu side="start" menuId="main-menu-html" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end" (click)="closeMenu()"><ion-icon name="arrow-back-outline" class="arrow-close"></ion-icon></ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="color-menu"> <!-- Menu Panel -->
    <ion-list class="menu-tool">

      <ion-item button routerLink="/home" class="menu-item">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <!--Learn menu panel -->
      <ion-item button routerLink="/learn" (click)="toggleSubtopics()" class="menu-item">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Learn</ion-label>
      </ion-item>
        <ion-list id="subtopics" [class.hidden]="!showSubtopics"  class="menu-tool">
          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

        </ion-list>
      <!--Learn menu panel -->


      <ion-item button routerLink="/challenges" class="menu-item">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Challenges</ion-label>
      </ion-item>

      <ion-item button routerLink="/tutorials" class="menu-item">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Tutorials</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="head">
  <ion-item id="main-content">

    <ion-buttons slot="start"><!-- Menu Button -->
      <ion-menu-button menu="main-menu-html"></ion-menu-button>
    </ion-buttons>

    <ion-input clearInput placeholder="  search.."  class="input"><!-- Search button, Input -->
      <ion-icon name="search-outline" slot="end" class="search-icon"></ion-icon>
    </ion-input>
    
    <ion-buttons (click)="showPopup()"><!-- Profile Button Popup Message -->
      <ion-icon slot="end" name="person-circle-outline" class="profile-button"></ion-icon>
    </ion-buttons>

  </ion-item> 
</ion-header> 

<!-- Popup Message -->
<ion-modal [isOpen]="isPopupVisible" (ionModalDidDismiss)="closePopup()">
  <ng-template>
    <ion-content class="popup-container">
      
      <div class="popup-content">
        <ion-buttons class="back">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        </ion-buttons>

        <ion-item>

          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-header>
            <ion-card-title>Rhonalyn Ortiz!</ion-card-title>
            <ion-card-subtitle>
              ortizrhonalynmail.com
            </ion-card-subtitle>
          </ion-header>
        </ion-item>

        <ion-button class="ion-close" (click)="closePopup()">LOGOUT -></ion-button>
      </div>
    
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <div class="option">
    <a [routerLink]="['/html']" class="active">HTML</a>
    <a routerLink="/css" class="active">CSS</a>
    <a routerLink="/js" class="active">JS</a>
    <a routerLink="/py" class="active">PYTHON</a>
    <a routerLink="/sql" class="active">SQL</a>
    <a routerLink="/php" class="active">PHP</a>
    <a routerLink="/java" class="active">JAVA</a>
    <a routerLink="/c++" class="active">C++</a>
  </div>








<!-- wag buburahin-->
<h1>JAVA SYNTAX</h1>
<hr class="custom-hr1">
<div class="anime1">
<h1>Java Syntax</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>In the previous chapter, we created a Java file called <span class="bulletred">Main.java</span>, and we used the following code to print "Hello World" to the screen:</p>
</ion-item>
<h1>Main.java</h1>
<div class="example-container">
  <div class="example1">
    <p>
      public class <span class="bulletblue">Main</span> &#123; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;public static void <span class="bulletblue">main</span>(<span class="bulletblue">String</span>[] args) &#123;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bulletblue">System.out.print(<span>"Hello World"</span>)</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;
      <br>&#125;
    </p>
  </div>
</div>
<br>
<h1>Example Explained:</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Every line of code that runs in Java must be inside a <span class="bulletred">class</span>. And the class name should always start with an uppercase first letter. In our example, we named the class <b>Main</b>.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Save the code in Notepad as "Main.java". Open Command Prompt (cmd.exe), navigate to the directory where you saved your file, and type "javac Main.java":</p>
</ion-item>
<br>
<div class="note-container">
  <div class="note-1">
    <p><b>Note:</b> Java is case-sensitive: "MyClass" and "myclass" has different meaning.</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The name of the java file <b>must match</b> the class name. When saving the file, save it using the class name and add ".java" to the end of the filename. To run the example above on your computer, make sure that Java is properly installed: Go to the <a href="/javagetstarted" style="color: #f17177;">Get Started Chapter</a> for how to install Java. The output should be:</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">Hello World</p>
  </div>
</div>
<br>
<hr class="custom-hr2">
<h1>The main method</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The <span class="bulletred">main()</span> method is required and you will see it in every Java program:</p>
</ion-item>
<br>
<div class="example-container">
  <div class="example1">
    <p>public static void <span class="bulletblue">main</span>(<span class="bulletblue">String</span>[] args)</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Any code inside the <span class="bulletred">main()</span> method will be executed. Don't worry about the keywords before and after it. You will get to know them bit by bit while reading this tutorial.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>For now, just remember that every Java program has a <span class="bulletred">class</span> name which must match the filename, and that every program must contain the <span class="bulletred">main()</span> method.</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>System.out.println()</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Inside the <span class="bulletred">main()</span> method, we can use the <span class="bulletred">println()</span> method to print a line of text to the screen:.</p>
</ion-item>
<br>
<div class="example-container">
  <div class="example1">
    <p>public static void <span class="bulletblue">main</span>(<span class="bulletblue">String</span>[] args) &#123;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bulletblue">System.out.print(<span>"Hello World"</span>)</span>
    <br>&#125;</p>
  </div>
</div>
<br>
<div class="note-container">
  <div class="note-1">
    <p>
      <b>Note:</b> The curly braces <span class="bulletred">&#123;&#125;</span> marks the beginning and the end of a block of code. <br><br>
      <span class="bulletred">System</span> is a built-in Java class that contains useful members, such as <span class="bulletred">out</span>, which is short for "output". The <span class="bulletred">println()</span> method, short for "print line", is used to print a value to the screen (or a file). <br><br>
      Don't worry too much about how <span class="bulletred">System</span>, <span class="bulletred">out</span> and <span class="bulletred">println()</span> works. Just know that you need them together to print stuff to the screen. <br><br>
      You should also note that each code statement must end with a semicolon (<span class="bulletred">;</span>).
    </p>
  </div>
</div>
</div>
<br>
<hr class="custom-hr2">
<ion-item lines="none" style="display: flex; align-items: center;">
  <h5 style="margin-right: 10px;">Test yourself with some exercises?</h5>
  <ion-button class="click-here">Click here</ion-button>
</ion-item>
<div class="home-next">
  <ion-button [routerLink]="['/javagetstarted']">Prev</ion-button>
  <ion-button [routerLink]="['/javavariables']">Next Chapter</ion-button>
</div>
<br><br>
</ion-content>