<!-- Menu, Search, Profile -->
<app-nav-bar id="htmlIntro"></app-nav-bar>

<!-- wagbuburahin -->
<ion-content padding class="background"> 



  <ion-content padding class="intro">
    <h1>HTML INTRODUCTION</h1>
    <hr class="custom-hr1">
    <p>HTML is the standard markup language for creating Web pages.</p>
    <hr class="custom-hr2">
    <div class="anime1">
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>HTML stands for Hyper Text Markup Language</p>
      </ion-item>
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>HTML describes the structure of a Web page</p>
      </ion-item>    
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>HTML consists of a series of elements</p>
      </ion-item>    
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>HTML elements tell the browser how to display the content</p>
      </ion-item>    
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.</p>
      </ion-item>
      <h1>EXAMPLE</h1>
      <div class="example1">
        <p>&lt;!DOCTYPE html&gt;</p>
        <p>&lt;html&gt;</p>
        <p>&lt;head&gt;</p>
        <p>&lt;title&gt;<span>Page Title</span>&lt;/title&gt;</p>
        <p>&lt;/head&gt;</p>
        <p>&lt;body&gt;</p>
        <br>
        <p>&lt;h1&gt;<span>My First Heading</span>&lt;/h1&gt;</p>
        <p>&lt;p&gt;<span>My first paragraph.</span>&lt;/p&gt;</p>
        <br>
        <p>&lt;/body&gt;</p>
        <p>&lt;/html&gt;</p>
      </div>
      <br>
      <br>
      <h1>OUTPUT:</h1>
      <div class="output1">
        <h1>My First Heading</h1>
        <p>My first paragraph.</p>
      </div>
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p class="sixthbullet">The <span class="bulletred">&lt;!DOCTYPE html&gt;</span> declaration defines that this document is an HTML5 document</p>
      </ion-item>
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>The <span class="bulletred">&lt;html&gt;</span> element is the root element of an HTML page</p>
      </ion-item>    
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>The <span class="bulletred">&lt;head&gt;</span> element contains meta information about the HTML page</p>
      </ion-item>    
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p class="sixthbullet">The <span class="bulletred"> </span> element specifies a title for the HTML page (which is shown in the browser's title bar or in the page's tab)</p>
      </ion-item>    
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p class="sixthbullet">The <span class="bulletred">&lt;body&gt;</span> element defines the document's body, and is a container for all the visible contents, such as headings, paragraphs, images, hyperlinks, tables, lists, etc.</p>
      </ion-item>
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>The <span class="bulletred">&lt;h1&gt;</span> element defines a large heading</p>
      </ion-item>
      <ion-item lines="none" class="icon-text">
        <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
        <p>The <span class="bulletred">&lt;p&gt;</span> element defines a paragraph</p>
      </ion-item>
    </div>
    <hr class="custom-hr2">
    <ion-item lines="none" style="display: flex; align-items: center;">
      <h5 style="margin-right: 10px;">Test yourself with some exercises?</h5>
      <ion-button class="click-here">Click here</ion-button>
    </ion-item>
    <div class="home-next">
      <ion-button [routerLink]="['/html']">HOME</ion-button>
      <ion-button [routerLink]="['/htmlbasic']">Next Chapter</ion-button>
    </div>
    <br><br>
  </ion-content>
</ion-content>