<app-nav-bar  id="phpMain"></app-nav-bar>
<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG java-->
  <h1 class="html">PHP</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A serving scripting language.</p>
      <p>A powerful tool for making dynamic and interactive Web pages and a widely-used, free, and efficient alternative to competitors.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/phpintro']"><u>PHP Introduction</u></ion-button>
    <ion-button [routerLink]="['/phpsyntax']"><u>PHP Syntax</u></ion-button>
    <ion-button [routerLink]="['/phpvariables']"><u>PHP Variables</u></ion-button>
    <ion-button [routerLink]="['/phpecho']"><u>PHP Echo/Print</u></ion-button>
  </div>
</ion-content>