<app-nav-bar  id="phpMain"></app-nav-bar>
<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG java-->
  <h1 class="html">PHP</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A serving scripting language.</p>
      <p>A powerful tool for making dynamic and interactive Web pages and a widely-used, free, and efficient alternative to competitors.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/phpintro']">PHP Introduction</ion-button>
    <ion-button [routerLink]="['/phpsyntax']">PHP Syntax</ion-button>
    <ion-button [routerLink]="['/phpvariables']">PHP Variables</ion-button>
    <ion-button [routerLink]="['/phpecho']">PHP Echo/Print</ion-button>
  </div>
</ion-content>