<app-nav-bar  id="javaget"></app-nav-bar>





<ion-content>
<!-- wag buburahin-->
<h1>JAVA GETTING STARTED</h1>
<hr class="custom-hr1">
<div class="anime1">
<h1>Java Install</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Some PCs might have Java already installed.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>To check if you have Java installed on a Windows PC, search in the start bar for Java or type the following in Command Prompt (cmd.exe):</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">C:\Users\<i>Your Name</i>>java -version</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>If Java is installed, you will see something like this (depending on version):</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">java version "22.0.0" 2024-08-21 LTS <br>
      Java(TM) SE Runtime Environment 22.9 (build 22.0.0+13-LTS) <br>
      Java HotSpot(TM) 64-Bit Server VM 22.9 (build 22.0.0+13-LTS, mixed mode)</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>If you do not have Java installed on your computer, you can download it for free at <a href ="https://www.oracle.com/java/technologies/downloads/#jdk22-windows" style="color: #f17177">oracel.com</a>.</p>
</ion-item>
<br>
<div class="note-container">
  <div class="note-1">
    <p><b>Note:</b> In this tutorial, we will write Java code in a text editor. However, it is possible to write Java in an Integrated Development Environment, such as IntelliJ IDEA, Netbeans or Eclipse, which are particularly useful when managing larger collections of Java files.</p>
  </div>
</div>
<br>
<hr class="custom-hr2">
<h1>Java Quickstart</h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>In Java, every application begins with a class name, and that class must match the filename.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Let's create our first Java file, called Main.java, which can be done in any text editor (like Notepad).</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The file should contain a "Hello World" message, which is written with the following code:</p>
</ion-item>
<br>
<h1>Main.java</h1>
<div class="example-container">
  <div class="example1">
    <p>
      public class <span class="bulletblue">Main</span> &#123; <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;public static void <span class="bulletblue">main</span>(<span class="bulletblue">String</span>[] args) &#123;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bulletblue">System.out.print(<span>"Hello World"</span>)</span>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;
      <br>&#125;
    </p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Don't worry if you don't understand the code above - we will discuss it in detail in later chapters. For now, focus on how to run the code above.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Save the code in Notepad as "Main.java". Open Command Prompt (cmd.exe), navigate to the directory where you saved your file, and type "javac Main.java":</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">C:\Users\<i>Your Name</i>>javac Main.java</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>This will compile your code. If there are no errors in the code, the command prompt will take you to the next line. Now, type "java Main" to run the file:</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">C:\Users\<i>Your Name</i>>java Main</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <p>The output should read:</p>
</ion-item>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">Hello World!</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <p><b>Congratulations!</b> You have written and executed your first Java program.</p>
</ion-item>
</div>
<br>
<hr class="custom-hr2">
<div class="home-next">
  <ion-button [routerLink]="['/javaintro']">Prev</ion-button>
  <ion-button [routerLink]="['/javasyntax']">Next Chapter</ion-button>
</div>
<br><br>
</ion-content>