<ion-content class="content">
  <div class="img">
      <img src="../../assets/img/logo.jpg">
      Log In
  </div>

  <br><br>
  <ion-card class="slanted-card">
    <!-- First Section: Before Slant -->
    <ion-card-content>

      <ion-item lines="full">
        <ion-label position="floating">Email:</ion-label>
        <ion-input [(ngModel)] = "credential.email" clearInput (ionInput)="checkInput('email')">
          <ion-icon slot="start" name="mail-outline" [class.big]="isEmailEntered"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
          <ion-label position="floating">Password:</ion-label>
          <ion-input  [(ngModel)] = "credential.password" clearInput type="Password" (ionInput)="checkInput('password')">
              <ion-icon slot="start" name="lock-closed-outline" [class.big]="isPasswordEntered"></ion-icon>
          </ion-input>
        </ion-item>

        <div class="fpass">
          <ion-card-subtitle><a routerLink="/login">Return to Login</a></ion-card-subtitle>
          <ion-card-subtitle><a routerLink="/forpass">Forgot Password?</a></ion-card-subtitle>
        </div>
        <ion-buttons  button  (click)="login()"  class="sent"><ion-icon class="submit" name="arrow-forward-outline"></ion-icon></ion-buttons>

    </ion-card-content>

    <!-- Slant Line -->
    <div class="slant-line"></div>

      <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <ion-card-subtitle>Don't have an account?<a routerLink="/signup">Sign up</a></ion-card-subtitle>
      </div>
   
  </ion-card>
</ion-content>



