<app-nav-bar  id="cppget"></app-nav-bar>





<ion-content>
<!-- wag buburahin-->
<h1>C++ GETTING STARTED</h1>
<hr class="custom-hr1">
<div class="anime1">
<h1>C++ Get Started</h1>
<p>To start using C++, you need two things:</p>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>A text editor, like Notepad, to write C++ code</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>A compiler, like GCC, to translate the C++ code into a language that the computer will understand</p>
</ion-item>
<br>
<p>There are many text editors and compilers to choose from. In this tutorial, we will use an IDE (see below).</p>
<br>
<hr class="custom-hr2">
<h1>C++ Install IDE</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>An IDE (Integrated Development Environment) is used to edit AND compile the code.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>A compiler, like GCC, to translate the C++ code into a language that the computer will understand</p>
</ion-item>
<br>
<div class="note-container">
  <div class="note-1">
    <p><b>Note:</b> Web-based IDE's can work as well, but functionality is limited.</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>We will use <b>Code::Blocks</b> in our tutorial, which we believe is a good place to start.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>You can find the latest version of Codeblocks at <a href="https://www.codeblocks.org/downloads/binaries/">http://www.codeblocks.org/</a>. Download the mingw-setup.exe file, which will install the text editor with a compiler.</p>
</ion-item>
<br>
<hr class="custom-hr2">
<h1>C++ Quickstart</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Let's create our first C++ file.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Open Codeblocks and go to <b>File</b> > <b>New</b> > <b>Empty File</b>.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Write the following C++ code and save the file as <span class="bulletred">myfirstprogram.cpp</span> (<b>File</b> > <b>Save File as</b>):</p>
</ion-item>
<br>
<h1>myfirstprogram.cpp</h1>
<div class="example-container">
  <div class="example1">
    <p>#include &lt;iostream&gt;</p>
    <p>using namespace std;</p>
    <br>
    <p>int main() &#123;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="bulletblue">cout << "</span><span>Hello World</span><span class="bulletblue"> ";</span></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="bulletblue">return </span>0;</p>
    <p>&#125;</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Don't worry if you don't understand the code above - we will discuss it in detail in later chapters. For now, focus on how to run the code.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>In Codeblocks, it should look like this:</p>
</ion-item>
<img src="../../assets/img/myfirstprogram.png" alt="">
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Then, go to <b>Build</b> > <b>Build and Run</b> to run (execute) the program. The result will look something to this:</p>
</ion-item>
<br>
<div class="example-container-cmd">
  <div class="example1-cmd">
    <p style="color: rgb(255, 245, 245);">Hello World!</p>
    <p style="color: rgb(255, 245, 245);">Process returned 0 (0x0) execution time : 0.011 s</p>
    <p style="color: rgb(255, 245, 245);">Press any key to continue.</p>
  </div>
</div>
<p><b>Congratulations</b>! You have now written and executed your first C++ program.</p>
<br>
</div>
<br>
<hr class="custom-hr2">
<div class="home-next">
  <ion-button [routerLink]="['/cppintro']">Prev</ion-button>
  <ion-button [routerLink]="['/cppsyntax']">Next Chapter</ion-button>
</div>
<br><br>
</ion-content>