<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>testTopicSelector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="navigateToTopic('HTML Introduction')">HTML Introduction</ion-button>
  <ion-button (click)="navigateToTopic('HTML Basic')">HTML Basic</ion-button>
  <ion-button>HTML Elements</ion-button>
  <ion-button>HTML Attributes</ion-button>

  <ion-button (click)="generatePythonExercise()">Python Exercise</ion-button>
  <div *ngIf="exercises">
    <h3>Generated Exercises:</h3>
    <ul>
      <li *ngFor="let exercise of exercises">{{ exercise }}</li>
    </ul>
  </div>
  
</ion-content>
