<app-nav-bar id="languages"></app-nav-bar>


<ion-content>

  <div id="title-code" style="opacity: 0;">
    <h1>Learn to Code</h1>
    <p>To become a web developer, start with<br>the subjects below.</p>
  </div>


  <!-- HTML -->
  <div class="scrollable-background">
    <div id="title-code" style="position: relative; top: -220px;">
      <h1>Learn to Code</h1>
      <p>To become a web developer, start with<br>the subjects below.</p>
    </div>
    <div class="learn-html" style="position: relative; top: -120px;">
      <h1>HTML</h1>
      <p><b>A language for creating webpages.</b>The first thing you have to learn, is HTML, which is the standard
        markup language for creating web pages. </p>
      <ion-button routerLink="/html" shape="round" color="#0cc0df"
        style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>
      <br><br><br><br><br><br>

      <!-- CSS -->
      <h1>CSS</h1>
      <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and
        much more. </p>
      <ion-button routerLink="/css" shape="round" color="#0cc0df"
        style=" background-color: #0cc0df; border-radius: 40px;">Learn CSS</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>
    </div>
  </div>


  <div class="scrollable-background">
    <!-- JAVASCRIPT -->
    <div class="learn-html">
      <h1>JAVASCRIPT</h1>
      <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and
        much more. </p>
      <ion-button routerLink="/js" shape="round" color="#0cc0df"
        style=" background-color: #0cc0df; border-radius: 40px;">Learn JS</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>

      <br><br><br><br><br><br>

      <!-- PYTHON -->
      <h1>PYTHON</h1>
      <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and
        much more. </p>
      <ion-button routerlink="/py" shape="round" color="#0cc0df"
        style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>
    </div>
  </div>


  <div class="scrollable-background">
    <!-- SQL -->
    <div class="learn-html">
      <h1>SQL</h1>
      <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and
        much more. </p>
      <ion-button routerLink="/sql" shape="round" color="#0cc0df"
        style=" background-color: #0cc0df; border-radius: 40px;">Learn SQL</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>

      <br><br><br><br><br><br>

      <!-- PHP -->
      <h1>PHP</h1>
      <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and
        much more. </p>
      <ion-button routerLink="/js" shape="round" color="#0cc0df"
        style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>
    </div>
  </div>


  <div class="scrollable-background">
    <!-- JAVA -->
    <div class="learn-html">
      <h1>JAVA</h1>
      <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and
        much more. </p>
      <ion-button shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn
        HTML</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>

      <br><br><br><br><br><br>

      <!-- C++ -->
      <h1>C++</h1>
      <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and
        much more. </p>
      <ion-button shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn
        HTML</ion-button>
      <br>
      <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video
        Tutorial</ion-button>
    </div>
  </div>


</ion-content>