<!-- Menu, Search, Profile -->
<ion-menu side="start" menuId="main-menu-languages" contentId="main-content">
  <ion-header>
    <ion-toolbar style="--background: #f27f60; color: black;">
      <ion-buttons slot="end" (click)="closeMenu()"><ion-icon name="arrow-back-outline" class="arrow-close"></ion-icon></ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="color-menu"> <!-- Menu Panel -->
    <ion-list class="menu-tool">

      <ion-item button routerLink="/home" class="menu-item">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <!--Learn menu panel -->
      <ion-item button routerLink="/learn" (click)="toggleSubtopics()" class="menu-item">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Learn</ion-label>
      </ion-item>
        <ion-list id="subtopics" [class.hidden]="!showSubtopics"  class="menu-tool">


          <div>
            <ion-item button class="menu-item" (click)="toggleTypeHtml()" (click)="toggleArrowHtml()">
              <ion-icon [name]="arrowIconHtml" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>HTML</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesHtml"  class="menu-tool">
              
              <ion-item button routerLink="/htmlintro" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Introduction</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/htmlbasic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Basic</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/htmlelement" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Element</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/htmlattribute" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Attributes</ion-label>
              </ion-item>
            </ion-list>
          </div>



          <div>
            <ion-item button class="menu-item" (click)="toggleTypeCss()" (click)="toggleArrowCss()">
              <ion-icon [name]="arrowIconCss" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>CSS</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesCss"  class="menu-tool">
              
              <ion-item button routerLink="/css-intro" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Introduction</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/css-basic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Syntax</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/css-element" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Selectors</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/css-attributes" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>How to</ion-label>
              </ion-item>
            </ion-list>
          </div>


          <div>
            <ion-item button class="menu-item" (click)="toggleTypeJs()" (click)="toggleArrowJs()">
              <ion-icon [name]="arrowIconJs" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>JavaScript</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesJs"  class="menu-tool">
              
              <ion-item button routerLink="/js-intro" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Introduction</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/js-basic" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Where to</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/js-element" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Output</ion-label>
              </ion-item>
    
              <ion-item button routerLink="/js-attributes" class="menu-item">
                  <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                  <ion-label>Statements</ion-label>
              </ion-item>
            </ion-list>
          </div>


          <div>
            <ion-item button class="menu-item" (click)="toggleTypePy()" (click)="toggleArrowPy()">
              <ion-icon [name]="arrowIconPy" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Python</ion-label>
              
            </ion-item>

            <ion-list id="subTypes" [class.hidden]="!showSubTypesPy"  class="menu-tool">
              
              <ion-item button routerLink="/py-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
              </ion-item>
  
              <ion-item button routerLink="/py-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
              </ion-item>
  
            <ion-item button routerLink="/py-element" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/py-attributes" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
            </ion-item>
            </ion-list>
          </div>


          
          <div>
            <ion-item button class="menu-item" (click)="toggleTypeSQL()" (click)="toggleArrowSQL()">
              <ion-icon [name]="arrowIconSQL" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>SQL</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesSQL" class="menu-tool">
              <ion-item button routerLink="/sql-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/sql-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/sql-element" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/sql-attributes" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
            </ion-item>
            </ion-list>
          </div>
          

          <div>
            <ion-item button class="menu-item" (click)="toggleTypePHP()" (click)="toggleArrowPHP()">
              <ion-icon [name]="arrowIconPHP" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>PHP</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesPHP" class="menu-tool">
              <ion-item button routerLink="/php-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/php-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/php-element" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/php-attributes" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
            </ion-item>
            </ion-list>
          </div>
          

          <div>
            <ion-item button class="menu-item" (click)="toggleTypeJava()" (click)="toggleArrowJava()">
              <ion-icon [name]="arrowIconJava" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Java</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesJava" class="menu-tool">
              <ion-item button routerLink="/java-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/java-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/java-element" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/java-attributes" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
            </ion-item>
            </ion-list>
          </div>
          

          <div>
            <ion-item button class="menu-item" (click)="toggleTypeCpp()" (click)="toggleArrowCpp()">
              <ion-icon [name]="arrowIconCpp" slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>C++</ion-label>
            </ion-item>
          
            <ion-list id="subTypes" [class.hidden]="!showSubTypesCpp" class="menu-tool">
              <ion-item button routerLink="/cpp-intro" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Introduction</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/cpp-basic" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Basic</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/cpp-element" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Element</ion-label>
            </ion-item>
  
            <ion-item button routerLink="/cpp-attributes" class="menu-item">
                <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
                <ion-label>Attributes</ion-label>
            </ion-item>
            </ion-list>
          </div>
          
          

        </ion-list>
      <!--Learn menu panel -->


      <ion-item button routerLink="/challenges" class="menu-item">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Challenges</ion-label>
      </ion-item>

      <ion-item button routerLink="/tutorials" class="menu-item">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Tutorials</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="head">
  <ion-item id="main-content">

    <ion-buttons slot="start"><!-- Menu Button -->
      <ion-menu-button menu="main-menu-languages"></ion-menu-button>
    </ion-buttons>

    <ion-input clearInput placeholder="  search.."  class="input"><!-- Search button, Input -->
      <ion-icon name="search-outline" slot="end" class="search-icon"></ion-icon>
    </ion-input>
    
    <ion-buttons (click)="showPopup()"><!-- Profile Button Popup Message -->
      <ion-icon slot="end" name="person-circle-outline" class="profile-button"></ion-icon>
    </ion-buttons>

  </ion-item> 
</ion-header> 

<!-- Popup Message -->
<ion-modal [isOpen]="isPopupVisible" (ionModalDidDismiss)="closePopup()">
  <ng-template>
    <ion-content class="popup-container">
      
      <div class="popup-content">
        <ion-buttons class="back">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        </ion-buttons>

        <ion-item>

          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-header>
            <ion-card-title>Rhonalyn Ortiz!</ion-card-title>
            <ion-card-subtitle>
              ortizrhonalynmail.com
            </ion-card-subtitle>
          </ion-header>
        </ion-item>

        <ion-button class="ion-close" (click)="closePopup()">LOGOUT -></ion-button>
      </div>
    
    </ion-content>
  </ng-template>
</ion-modal>


 <!-- Overflow-x Language Options -->
 <div class="option">
  <a [routerLink]="['/html']" class="active">HTML</a>
  <a routerLink="/css" class="active">CSS</a>
  <a routerLink="/js" class="active">JS</a>
  <a routerLink="/py" class="active">PYTHON</a>
  <a routerLink="/sql" class="active">SQL</a>
  <a routerLink="/php" class="active">PHP</a>
  <a routerLink="/java" class="active">JAVA</a>
  <a routerLink="/c++" class="active">C++</a>
</div>
  


<ion-content>
  <div class="scrollable-background">
    <div class="content">

      <div id="title-code">
        <h1>Learn to Code</h1>
        <p>To become a web developer, start with<br>the subjects below.</p>
      </div>
      <!-- HTML -->
      <div class="learn-html">
        <h1>HTML</h1>
        <p><b>A language for creating webpages.</b>The first thing you have to learn, is HTML, which is the standard markup language for creating web pages. </p>
        <ion-button routerLink="/html" shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>
      <!-- CSS -->
      <div class="learn-html">
        <h1>CSS</h1>
        <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and much more. </p>
        <ion-button routerLink="/css"  shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn CSS</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>

      <!-- JAVASCRIPT -->
      <div class="learn-html">
        <h1>JAVASCRIPT</h1>
        <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and much more. </p>
        <ion-button routerLink="/js" shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn JS</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>

      <!-- PYTHON -->
      <div class="learn-html">
        <h1>PYTHON</h1>
        <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and much more. </p>
        <ion-button routerlink="/py" shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>

      <!-- SQL -->
      <div class="learn-html">
        <h1>SQL</h1>
        <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and much more. </p>
        <ion-button routerLink="/sql" shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn SQL</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>


      <!-- PHP -->
      <div class="learn-html">
        <h1>PHP</h1>
        <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and much more. </p>
        <ion-button routerLink="/js" shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>

      <!-- JAVA -->
      <div class="learn-html">
        <h1>JAVA</h1>
        <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and much more. </p>
        <ion-button shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>

      <!-- C++ -->
      <div class="learn-html">
        <h1>C++</h1>
        <p><b>A language for styling webpages.</b>To set the layout of your web page with beautiful colors, fonts, and much more. </p>
        <ion-button shape="round" color="#0cc0df" style=" background-color: #0cc0df; border-radius: 40px;">Learn HTML</ion-button>
        <br>
        <ion-button shape="round" color="#ffbd59" style=" background-color: #ffbd59; border-radius: 40px;">Video Tutorial</ion-button>
      </div>

    </div>
  </div>
</ion-content>
