<ion-header>
  <ion-toolbar class="modalToolBar">
    <ion-title>Select Activity</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="selection">
      <ion-list-header>
        <ion-label>Choose an activity</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Exercise</ion-label>
        <ion-radio slot="start" value="exercise"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Quiz</ion-label>
        <ion-radio slot="start" value="quiz"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div class="buttonDiv">
    <ion-button expand="block" (click)="confirmSelection()">Confirm</ion-button>
  </div>
   
  
</ion-content>
