<!-- Menu, Search, Profile -->
<ion-menu side="start" menuId="main-menu-html" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end" (click)="closeMenu()"><ion-icon name="arrow-back-outline" class="arrow-close"></ion-icon></ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="color-menu"> <!-- Menu Panel -->
    <ion-list class="menu-tool">

      <ion-item button routerLink="/home" class="menu-item">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <!--Learn menu panel -->
      <ion-item button routerLink="/learn" (click)="toggleSubtopics()" class="menu-item">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Learn</ion-label>
      </ion-item>
        <ion-list id="subtopics" [class.hidden]="!showSubtopics"  class="menu-tool">
          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

        </ion-list>
      <!--Learn menu panel -->


      <ion-item button routerLink="/challenges" class="menu-item">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Challenges</ion-label>
      </ion-item>

      <ion-item button routerLink="/tutorials" class="menu-item">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Tutorials</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="head">
  <ion-item id="main-content">

    <ion-buttons slot="start"><!-- Menu Button -->
      <ion-menu-button menu="main-menu-html"></ion-menu-button>
    </ion-buttons>

    <ion-input clearInput placeholder="  search.."  class="input"><!-- Search button, Input -->
      <ion-icon name="search-outline" slot="end" class="search-icon"></ion-icon>
    </ion-input>
    
    <ion-buttons (click)="showPopup()"><!-- Profile Button Popup Message -->
      <ion-icon slot="end" name="person-circle-outline" class="profile-button"></ion-icon>
    </ion-buttons>

  </ion-item> 
</ion-header> 

<!-- Popup Message -->
<ion-modal [isOpen]="isPopupVisible" (ionModalDidDismiss)="closePopup()">
  <ng-template>
    <ion-content class="popup-container">
      
      <div class="popup-content">
        <ion-buttons class="back">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        </ion-buttons>

        <ion-item>

          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-header>
            <ion-card-title>Rhonalyn Ortiz!</ion-card-title>
            <ion-card-subtitle>
              ortizrhonalynmail.com
            </ion-card-subtitle>
          </ion-header>
        </ion-item>

        <ion-button class="ion-close" (click)="closePopup()">LOGOUT -></ion-button>
      </div>
    
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <div class="option">
    <a [routerLink]="['/html']" class="active">HTML</a>
    <a routerLink="/css" class="active">CSS</a>
    <a routerLink="/js" class="active">JS</a>
    <a routerLink="/python" class="active">PYTHON</a>
    <a routerLink="/sql" class="active">SQL</a>
    <a routerLink="/php" class="active">PHP</a>
    <a routerLink="/java" class="active">JAVA</a>
    <a routerLink="/c++" class="active">C++</a>
  </div>







<!--//wag buburahin code ko to (warnings)-->

<h1>HTML ELEMENT</h1>
<hr class="custom-hr1">
<p>An HTML element is defined by a start tag, some content, and an end tag:</p>
<hr class="custom-hr2">
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The HTML element is everything from the start tag to the end tag:</p>
</ion-item> 
<h1 class="custom-h1">Examples of some HTML elements:</h1>
  <div class="table-container">
    <table class="element-table">
      <thead>
        <tr>
          <th>Start Tag</th>
          <th>Element Content</th>
          <th>End Tag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&lt;h1&gt;</td>
          <td>My first heading</td>
          <td>&lt;/h1&gt;</td>
        </tr>
        <tr>
          <td>&lt;p&gt;</td>
          <td>My first paragraph</td>
          <td>&lt;/p&gt;</td>
        </tr>
        <tr>
          <td>&lt;br&gt;</td>
          <td>none</td>
          <td>none</td>
        </tr>
      </tbody>
    </table>
  </div>
<br>
<div class="note-container">
  <div class="note-1">
    <p><b>Note:</b> Some HTML elements have no content (like the &lt;br&gt; element). These elements are called empty elements. Empty elements do not have an end tag!</p>
  </div>
</div>
<br>
<hr class="custom-hr2">
<h1>Nested HTML Elements</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>HTML elements can be nested (this means that elements can contain other elements).</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>All HTML documents consist of nested HTML elements.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The following example contains four HTML elements (&lt;html&gt;, &lt;body&gt;, &lt;h1&gt; and &lt;p&gt;):</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;h1&gt;<span>My First Heading</span>&lt;/h1&gt;</p>
    <p>&lt;p&gt;<span>My first paragraph.</span>&lt;/p&gt;</p>
    <br>
    <p>&lt;/body&gt;</p>
    <p>&lt;/html&gt;</p>
  </div>
</div>
<br>
<h1>OUTPUT:</h1>
<div class="output-container">
  <div class="output1">
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
  </div>
</div>
<h1 class="custom-h1">Example Explained:</h1>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The <span class="bulletred">&lt;html&gt;</span> element is the root element and it defines the whole HTML document.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>It has a start tag <span class="bulletred">&lt;html&gt;</span> and an end tag <span class="bulletred">&lt;/html&gt;</span>.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Then, inside the <span class="bulletred">&lt;html&gt;</span> element there is a <span class="bulletred">&lt;body&gt;</span> element:</p>
</ion-item>
<br>
<div class="example-container">
  <div class="example1">
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;h1&gt;<span>My First Heading</span>&lt;/h1&gt;</p>
    <p>&lt;p&gt;<span>My first paragraph.</span>&lt;/p&gt;</p>
    <br>
    <p>&lt;/body&gt;</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The <span class="bulletred">&lt;body&gt;</span> element defines the document's body.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>It has a start tag <span class="bulletred">&lt;body&gt;</span> and an end tag <span class="bulletred">&lt;/body&gt;</span>.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Then, inside the <span class="bulletred">&lt;body&gt;</span> element there are two other elements: <span class="bulletred">&lt;h1&gt;</span> and <span class="bulletred">&lt;p&gt;</span>:</p>
</ion-item>
<br>
<div class="example-container">
  <div class="example1">
    <p>&lt;h1&gt;<span>My First Heading</span>&lt;/h1&gt;</p>
    <p>&lt;p&gt;<span>My first paragraph.</span>&lt;/p&gt;</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The <span class="bulletred">&lt;h1&gt;</span> element defines a heading.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>It has a start tag <span class="bulletred">&lt;h1&gt;</span> and an end tag <span class="bulletred">&lt;/h1&gt;</span>:</p>
</ion-item>
<br>
<div class="example-container">
  <div class="example1">
    <p>&lt;h1&gt;<span>My First Heading</span>&lt;/h1&gt;</p>
  </div>
</div>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The <span class="bulletred">&lt;p&gt;</span> element defines a paragraph.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>It has a start tag <span class="bulletred">&lt;p&gt;</span> and an end tag <span class="bulletred">&lt;/p&gt;</span>:</p>
</ion-item>
<br>
<div class="example-container">
<div class="example1">
  <p>&lt;p&gt;<span>My first paragraph.</span>&lt;/p&gt;</p>
</div>
</div>
<br>
<h1>Never Skip the End Tag</h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>Some HTML elements will display correctly, even if you forget the end tag:</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;p&gt;<span>This is a paragraph.</span></p>
    <p>&lt;p&gt;<span>This is a paragraph.</span></p>
    <br>
    <p>&lt;/body&gt;</p>
    <p>&lt;/html&gt;</p>
  </div>
</div>
<br>
<h1>OUTPUT:</h1>
<div class="output-container">
  <div class="output1">
    <p>This is a paragraph.</p>
    <p>This is a paragraph.</p>
  </div>
</div>
<div class="note-container">
  <div class="note-1">
    <p><b>However, never rely on this! Unexpected results and errors may occur if you forget the end tag!</b></p>
  </div>
</div>
<br>
<hr class="custom-hr2">
<br>
<h1>Empty HTML Elements</h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>HTML elements with no content are called empty elements.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The <span class="bulletred">&lt;br&gt;</span> tag defines a line break, and is an empty element without a closing tag:</p>
</ion-item>
<br>
<h1>EXAMPLE</h1>
<div class="example-container">
  <div class="example1">
    <p>&lt;!DOCTYPE html&gt;</p>
    <p>&lt;html&gt;</p>
    <p>&lt;body&gt;</p>
    <br>
    <p>&lt;p&gt;<span>This is a </span>&lt;br&gt; <span>paragraph with a line break.</span>&lt;/p&gt;</p>
    <br>
    <p>&lt;/body&gt;</p>
    <p>&lt;/html&gt;</p>
  </div>
</div>
<br>
<h1>OUTPUT:</h1>
<div class="output-container">
  <div class="output1">
    <p>This is a</p>
    <p>paragraph with a line break.</p>
  </div>
</div>
<hr class="custom-hr2">
<h1>HTML is Not Case Sensitive </h1>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>HTML tags are not case sensitive: <span class="bulletred">&lt;P&gt;</span> means the same as <span class="bulletred">&lt;p&gt;</span>.</p>
</ion-item>
<br>
<ion-item lines="none" class="icon-text">
  <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
  <p>The HTML standard does not require lowercase tags, but *APP  NAME* <b>recommends</b> lowercase in HTML, and <b>demands</b> lowercase for stricter document types like XHTML.</p>
</ion-item>
<br>
<div class="note-container">
  <div class="note-1">
    <p>At *APP NAME* we always use lowercase tag names.</p>
  </div>
</div>
<br>
<hr class="custom-hr2">
<ion-item lines="none" style="display: flex; align-items: center;">
  <h5 style="margin-right: 10px;">Test yourself with some exercises?</h5>
  <ion-button class="click-here">Click here</ion-button>
</ion-item>
<div class="home-next">
  <ion-button [routerLink]="['/html']">HOME</ion-button>
  <ion-button [routerLink]="['/htmlattri']">Next Chapter</ion-button>
</div>
<br><br>
</ion-content>