<ion-content class="content">
  <div class="img">
      <img src="../../assets/img/LOGO.png">
      Sign Up
  </div>

  <br><br><br>
  <ion-card class="slanted-card">
    <!-- First Section: Before Slant -->
    <ion-card-content>
      
      <ion-item lines="full">
        <ion-label position="floating">Name:</ion-label>
        <ion-input clearInput>
            <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Email:</ion-label>
        <ion-input clearInput>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
          <ion-label position="floating">Password:</ion-label>
          <ion-input clearInput type="Password">
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          </ion-input>
        </ion-item>

        <div class="fpass">
          <ion-card-subtitle><a href="#forgotpass">Forgot Password?</a></ion-card-subtitle>
        </div>
        <ion-buttons button class="sent"><ion-icon name="arrow-forward-outline"></ion-icon></ion-buttons>

    </ion-card-content>

    <!-- Slant Line -->
    <div class="slant-line"></div>

    <!-- Second Section: After Slant -->
   
      <p class="center-text">Or signup using:</p>
      <div class="social-icons">
          
        <ion-button fill="clear">
          <img src="../../assets/img/FACEBOOK-LOGO.png" alt="Facebook" />
        </ion-button>
        <ion-button fill="clear">
          <img src="../../assets/img/GOOGLE-LOGO.png" alt="Google" />
        </ion-button>
      </div>
   
  </ion-card>
</ion-content>



