<ion-content class="content">
  <div class="img">
    <img src="../../assets/img/logo.jpg">
    Sign Up
  </div>

  <br><br>
  <ion-card class="slanted-card">
    <!-- First Section: Before Slant -->
    <ion-card-content>

      <ion-item lines="full">
        <ion-label position="floating">Email:</ion-label>
        <ion-input [(ngModel)] = "user.email" clearInput (ionInput)="checkInput('email')">
            <ion-icon slot="start" name="mail-outline" [class.big]="isEmailEntered"></ion-icon>
        </ion-input>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label position="floating">Username:</ion-label>
        <ion-input [(ngModel)] = "user.username" clearInput (ionInput)="checkInput('username')">
            <ion-icon slot="start" name="person-outline" [class.big]="isUserNameEntered"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
          <ion-label position="floating">Password:</ion-label>
          <ion-input [(ngModel)] = "user.password" clearInput type="Password" (ionInput)="checkInput('password')">
              <ion-icon slot="start" name="lock-closed-outline" [class.big]="isPasswordEntered"></ion-icon>
          </ion-input>
        </ion-item>

        <div class="fpass">
          <ion-card-subtitle><a routerLink="/login">Return to Login</a></ion-card-subtitle>
          <ion-card-subtitle><a routerLink="/forpass">Forgot Password?</a></ion-card-subtitle>
        </div>
        <ion-buttons button class="sent" (click)="register()"><ion-icon class="submit" name="arrow-forward-outline"></ion-icon></ion-buttons>

    </ion-card-content>

    <!-- Slant Line -->
    <div class="slant-line"></div>

    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
      <ion-card-subtitle>Already have an account?<a routerLink="/loginpage">Login</a></ion-card-subtitle>
    </div>
   
  </ion-card>
</ion-content>



