<app-nav-bar  id="pyMain"></app-nav-bar>
<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG python-->
  <h1 class="html">Python</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A popular programming language.</p>
      <p>Python can be used on a server to create web applications.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/pyintro']"><u>Python Introduction</u></ion-button>
    <ion-button [routerLink]="['/pygetstarted']"><u>Python Get Started</u></ion-button>
    <ion-button [routerLink]="['/pysyntax']"><u>Python Syntax</u></ion-button>
    <ion-button [routerLink]="['/pyvariables']"><u>Python Variabless</u></ion-button>
  </div>
</ion-content>