<!-- Menu, Search, Profile -->
<!-- -->
<app-nav-bar  id="htmlMain"></app-nav-bar>



<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG HTML-->
  <h1 class="html">HTML</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A language for creating webpages.</p>
      <p>The first thing you have to learn is HTML, which is the standard markup language for creating web pages.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/htmlintro']"><u>HTML Introduction</u></ion-button>
    <ion-button [routerLink]="['/htmlbasic']"><u>HTML Basic</u></ion-button>
    <ion-button [routerLink]="['/htmlelement']"><u>HTML Element</u></ion-button>
    <ion-button [routerLink]="['/htmlattri']"><u>HTML Attributes</u></ion-button>
  </div>
</ion-content>