<!-- Menu, Search, Profile -->
<ion-menu side="start" menuId="main-menu-html" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end" (click)="closeMenu()"><ion-icon name="arrow-back-outline" class="arrow-close"></ion-icon></ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="color-menu"> <!-- Menu Panel -->
    <ion-list class="menu-tool">

      <ion-item button routerLink="/home" class="menu-item">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>

      <!--Learn menu panel -->
      <ion-item button routerLink="/learn" (click)="toggleSubtopics()" class="menu-item">
        <ion-icon slot="start" name="book-outline"></ion-icon>
        <ion-label>Learn</ion-label>
      </ion-item>
        <ion-list id="subtopics" [class.hidden]="!showSubtopics"  class="menu-tool">
          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

          <ion-item button routerLink="/subtopic" class="menu-item">
              <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
              <ion-label>Topics</ion-label>
          </ion-item>

        </ion-list>
      <!--Learn menu panel -->


      <ion-item button routerLink="/challenges" class="menu-item">
        <ion-icon slot="start" name="trophy-outline"></ion-icon>
        <ion-label>Challenges</ion-label>
      </ion-item>

      <ion-item button routerLink="/tutorials" class="menu-item">
        <ion-icon slot="start" name="school-outline"></ion-icon>
        <ion-label>Tutorials</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="head">
  <ion-item id="main-content">

    <ion-buttons slot="start"><!-- Menu Button -->
      <ion-menu-button menu="main-menu-html"></ion-menu-button>
    </ion-buttons>

    <ion-input clearInput placeholder="  search.."  class="input"><!-- Search button, Input -->
      <ion-icon name="search-outline" slot="end" class="search-icon"></ion-icon>
    </ion-input>
    
    <ion-buttons (click)="showPopup()"><!-- Profile Button Popup Message -->
      <ion-icon slot="end" name="person-circle-outline" class="profile-button"></ion-icon>
    </ion-buttons>

  </ion-item> 
</ion-header> 

<!-- Popup Message -->
<ion-modal [isOpen]="isPopupVisible" (ionModalDidDismiss)="closePopup()">
  <ng-template>
    <ion-content class="popup-container">
      
      <div class="popup-content">
        <ion-buttons class="back">
          <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        </ion-buttons>

        <ion-item>

          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-header>
            <ion-card-title>Rhonalyn Ortiz!</ion-card-title>
            <ion-card-subtitle>
              ortizrhonalynmail.com
            </ion-card-subtitle>
          </ion-header>
        </ion-item>

        <ion-button class="ion-close" (click)="closePopup()">LOGOUT -></ion-button>
      </div>
    
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content>
  <div class="option">
    <a [routerLink]="['/html']" class="active">HTML</a>
    <a routerLink="/css" class="active">CSS</a>
    <a routerLink="/js" class="active">JS</a>
    <a routerLink="/python" class="active">PYTHON</a>
    <a routerLink="/sql" class="active">SQL</a>
    <a routerLink="/php" class="active">PHP</a>
    <a routerLink="/java" class="active">JAVA</a>
    <a routerLink="/c++" class="active">C++</a>
  </div>








<!-- wag buburahin-->
<h1>HTML  ATTRIBUTES</h1>
<hr class="custom-hr1">
<p>HTML attributes provide additional information about HTML elements.</p>
<hr class="custom-hr2">
<div class="anime1">
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>All HTML elements can have <b>attributes</b></p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>Attributes provide <b>additional information</b> about elements</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>Attributes are always specified in <b>the start tag</b></p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>Attributes usually come in name/value pairs like: <b>name="value"</b></p>
  </ion-item>
  <hr class="custom-hr2">
  <h1>The href Attribute</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">&lt;a&gt;</span> tag defines a hyperlink. The href attribute specifies the URL of the page the link goes to:</p>
  </ion-item>
  <br>
  <h1>EXAMPLE</h1>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html&gt;</p>
      <p>&lt;body&gt;</p>
      <br>
      <p>&lt;h2&gt;<span>The href Attribute</span>&lt;/h2&gt;</p>
      <p>&lt;p&gt;<span>HTML links are defined with the a tag. The link address is specified in the href attribute</span>&lt;/p&gt;</p>
      <br>
      <p>&lt;a href=<span class="bulletblue">https://www.*appname*.com"</span>"&gt;<span>Visit *APP NAME*</span>&lt;/a&gt;</p>
      <br>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output-container">
    <div class="output1">
      <h1>The href Attribute</h1>
      <p>HTML links are defined with the a tag. The link address is specified in the href attribute:</p>
      <p><span class="bulletblue"><u>Visit *APP NAME*</u></span></p>
    </div>
  </div>
  <hr class="custom-hr2">
  <h1>The src Attribute</h1>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">&lt;img&gt;</span> tag is used to embed an image in an HTML page. The src attribute specifies the path to the image to be displayed:</p>
  </ion-item>
  <br>
  <h1>EXAMPLE</h1>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html&gt;</p>
      <p>&lt;body&gt;</p>
      <br>
      <p>&lt;h2&gt;<span>The href Attribute</span>&lt;/h2&gt;</p>
      <p>&lt;p&gt;<span>HTML images are defined with the img tag, and the filename of the image source is specified in the src attribute: </span>&lt;/p&gt;</p>
      <br>
      <p>&lt;img src=<span class="bulletblue">"img_girl.jpg"</span> width=<span class="bulletblue">"500"</span> height=<span class="bulletblue">"600"</span>&gt;</p>
      <br>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output-container">
    <div class="output1">
      <h1>The href Attribute</h1>
      <p>HTML images are defined with the img tag, and the filename of the image source is specified in the src attribute:</p>
      <img src="../../assets/img/girl.png">
    </div>
  </div>
  <br>
  <h1 class="custom-h1">There are two ways to specify the URL in the src attribute:</h1>
  <br>
  <ion-item lines="none" class="icon-text-container">
    <img src="../../assets/icon/no1.png">
    <div class="text-content">
      <p class="first-text">Absolute URL</p>
      <div class="second-icon-text-container">
        <p class="second-text">= Links to an external image that is hosted on another website. Example: src= "https://www.w3schools.com/ images/img_girl.jpg".</p>
      </div>
    </div>
  </ion-item>
  <br>
  <div class="note-container">
    <div class="note-1">
      <p><b>Note: </b>External images might be under copyright. If you do not get permission to use it, you may be in violation of copyright laws. In addition, you cannot control external images; it can suddenly be removed or changed.</p>
    </div>
  </div>
  <br>
  <ion-item lines="none" class="icon-text-container">
    <img src="../../assets/icon/no2.png">
    <div class="text-content">
      <p class="first-text">Relative URL</p>
      <div class="second-icon-text-container">
        <p class="second-text">= Links to an image that is hosted within the website. Here, the URL does not include the domain name. If the URL begins without a slash, it will be relative to the current page. Example: src="img_girl.jpg". If the URL begins with a slash, it will be relative to the domain. Example: src="/images/img_girl.jpg".</p>
      </div>
    </div>
  </ion-item>
  <br>
  <div class="note-container">
    <div class="note-1">
      <p><b>Tips: </b>It is almost always best to use relative URLs. They will not break if you change domain.</p>
    </div>
  </div>
  <br>
  <hr class="custom-hr2">
  <h1>The width and height Attributes</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">&lt;img&gt;</span> tag should also contain the <span class="bulletred">width</span> and <span class="bulletred">height</span> attributes, which specify the width and height of the image (in pixels):</p>
  </ion-item>
  <br>
  <h1>EXAMPLE</h1>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html&gt;</p>
      <p>&lt;body&gt;</p>
      <br>
      <p>&lt;h2&gt;<span>Width and Height Attribites</span>&lt;/h2&gt;</p>
      <p>&lt;p&gt;<span>The width and height attribute of the img tag, defines the width and height of the image.</span>&lt;/p&gt;</p>
      <br>
      <p>&lt;img src=<span class="bulletblue">"img_girl.jpg"</span>  width=<span class="bulletblue">"500"</span> height=<span class="bulletblue">"600"</span>&gt;</p>
      <br>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output-container">
    <div class="output1">
      <h1>Width and Height Attributes</h1>
      <p>The width and height attribute of the img tag, defines the width and height of the image.</p>
      <img style = "width:500px; height:600px;"src="../../assets/img/girl.png">
    </div>
  </div>
  <hr class="custom-hr2">
  <h1>The alt Attributes</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The required<span class="bulletred">&lt;alt&gt;</span> attribute for the <span class="bulletred">&lt;img&gt;</span> tag specifies an alternative text for an image, if the image for some reason cannot be displayed. This can be due to a slow connection, or an error in the <span class="bulletred">src</span> attribute, or if the user uses a screen reader.</p>
  </ion-item>
  <br>
  <h1>EXAMPLE</h1>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html&gt;</p>
      <p>&lt;body&gt;</p>
      <br>
      <p>&lt;h2&gt;<span>The alt Attributes</span>&lt;/h2&gt;</p>
      <p>&lt;p&gt;<span>The alt attribute should reflect the image content, so users who cannot see the image get an undertanding of what the image contains.</span>&lt;/p&gt;</p>
      <br>
      <p>&lt;img src=<span class="bulletblue">"img_girl.jpg"</span>  width=<span class="bulletblue">"500"</span> height=<span class="bulletblue">"600"</span>&gt;</p>
      <br>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output-container">
    <div class="output1">
      <h1>The alt Attributes</h1>
      <p>The alt attribute should reflect the image content, so users who cannot see the image get an understanding of what the image contains:</p>
      <img src="../../assets/img/boy.png">
    </div>
  </div>

  <hr class="custom-hr2">
  <h1>The style Attributes</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">style</span> attribute is used to add styles to an element, such as color, font, and more.</p>
  </ion-item>
  <br>
  <h1>EXAMPLE</h1>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html&gt;</p>
      <p>&lt;body&gt;</p>
      <br>
      <p>&lt;h2&gt;<span>The style Attributes</span>&lt;/h2&gt;</p>
      <p>&lt;p&gt;<span>The style attribute is used to add styles to an element, such as color:</span>&lt;/p&gt;</p>
      <br>
      <p>&lt;p<span class="bulletred"> style=</span><span class="bulletblue">"color:red;"</span>&gt;<span>This is a red paragraph.</span>&lt;p&gt;</p>
      <br>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output-container">
    <div class="output1">
      <h1>The style Attributes</h1>
      <p>The style attribute is used to add styles to an element, such as color:</p>
      <p style="color:red;">This is a red paragraph.</p>
    </div>
  </div>

  <hr class="custom-hr2">
  <h1>The lang Attributes</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>You should always include the <span class="bulletred">lang</span> attribute inside the <span class ="bulletred">&lt;html&gt;</span> tag, to declare the language of the Web page. This is meant to assist search engines and browsers.</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The following example specifies English as the language:</p>
  </ion-item>
  <br>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html lang=<span class="bulletblue">"en"</span>&gt;</p>
      <p>&lt;body&gt;</p>
      <p><span>...</span></p>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>Country codes can also be added to the language code in the <span class="bulletred">lang</span> attribute. So, the first two character define the language of the HTML page, and the last two characters define the country.</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The following example specifies English as the language and United States as the country.</p>
  </ion-item>
  <br>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html lang=<span class="bulletblue">"en - US"</span>&gt;</p>
      <p>&lt;body&gt;</p>
      <p><span>...</span></p>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <hr class="custom-hr2">
  <h1>The title Attributes</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">title</span> attribute defines some extra information about an element.</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The value of the title attribute will be displayed as a tooltip when you mouse over the element:</p>
  </ion-item>
  <br>
  <h1>EXAMPLE</h1>
  <div class="example-container">
    <div class="example1">
      <p>&lt;!DOCTYPE html&gt;</p>
      <p>&lt;html&gt;</p>
      <p>&lt;body&gt;</p>
      <br>
      <p>&lt;h2 title=<span class="bulletblue">"I'm a header"</span>&gt;<span>The title Attributes</span>&lt;/h2&gt;</p>
      <p>&lt;p title=<span class="bulletblue">"I'm a tooltip</span>&gt;<span>Mouse over this paragraph, to display the title attribute as a tooltip.</span>&lt;/p&gt;</p>
      <br>
      <p>&lt;/body&gt;</p>
      <p>&lt;/html&gt;</p>
    </div>
  </div>
  <br>
  <h1>OUTPUT:</h1>
  <div class="output-container">
    <div class="output1">
      <h1>The title Attributes</h1>
      <p>Mouse over this paragraph, to display the title attribute as a tooltip.</p>
    </div>
  </div>
  <hr class="custom-hr2">
  <h1>We Suggest: Always Use Lowecae Attributes</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The HTML standard does not require lowercase attribute names.</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The title attribute &#40;and all other attributes&#41; can be written with uppercase or lowercase like <b>title</b> or <b>TITLE.</b></p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>However, CodetTology <b>recommends</b> lowercase attributes in HTML, and <b>demands</b> lowercase attributes for stricter document types like XHTML.</p>
  </ion-item>
  <br>
  <hr class="custom-hr2">
  <h1>Chapter Summary</h1>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>All HTML elements can have attributes.</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">href </span>attribute of <span class="bulletred">&lt;a&gt;</span> specifies the URL of the page the link goes to</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">src</span> attribute of <span class="bulletred">&lt;img&gt;</span> specifies the pathto the image to be displayed.</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">width</span> and <span class="bulletred">width</span> attributes of <span class="bulletred">&lt;img&gt;</span> provide size information for images.</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">alt</span> attribute of <span class="bulletred">&lt;img&gt;</span> provides an alternate text for an image</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">style</span> attribute is used to add styles to an element, such as color, font, size, and more</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">lang</span> attribute of the <span class="bulletred">&lt;html&gt;</span> tag declares the language of the Web page</p>
  </ion-item>
  <br>
  <ion-item lines="none" class="icon-text">
    <ion-icon class="custom-icon" name="radio-button-on-outline"></ion-icon>
    <p>The <span class="bulletred">title</span> attribute defines some extra information about an element</p>
  </ion-item>
</div>
<br>
<hr class="custom-hr2">
<ion-item lines="none" style="display: flex; align-items: center;">
  <h5 style="margin-right: 10px;">Test yourself with some exercises?</h5>
  <ion-button class="click-here">Click here</ion-button>
</ion-item>
<div class="home-next">
  <ion-button [routerLink]="['/html']">HOME</ion-button>
</div>
<br><br>
</ion-content>