<!-- Menu, Search, Profile -->
<app-nav-bar  id="homeMain"></app-nav-bar>

<ion-content id="content">
  <ion-card class="tag-container"> <!-- Main Content -->
    <img src="../../assets/img/logo.jpg">
    <h1>Learn. Code. Conquer.</h1>
  </ion-card>

  <div id="mess-container">
    <p>Want to Learn??</p>
    <ion-button color="#fb7c57" shape="round" routerLink="/languages">Begin My Journey</ion-button>

    <p>Challenge yourself and Know your limit!</p>
    <ion-button routerLink="/exercise-selector" color="#ffe6d5" shape="round" style="  background: linear-gradient(to right , #ffe6d5, #fb7c57);">Challenge some problems</ion-button>
  </div>
</ion-content>
















  