<app-nav-bar  id="jsintro"></app-nav-bar>

<ion-content>

  <div class="css-main-container">
    <h1 class="FadeInUp">JavaScript Introduction</h1>
    <hr
      style="display: flex; justify-content: center; width: 100%;  border-top: 1px solid black; background-color: black;">

    <p class="FadeInUp">This page contains some examples of what JavaScript can do.</p>
    <hr>

    <h1 class="FadeInUp" style="font-size: 26px;">External CSS</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">One of many JavaScript HTML methods is <span
          style="color: #ff5757;">getElementById().</span></p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">The example below "finds" an HTML element (with id="demo"), and changes the element
        content (innerHTML) to "Hello JavaScript":</p>
    </ion-item>


  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>
    <p class="FadeInUp">External styles are defined within the &lt;link&gt; element, inside the &lt;head&gt; section of
      an HTML page:</p>
    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>What Can JavaScript Do?</span>&lt;/h2&gt;<br>
      &lt;p id=“<a>demo</a>”&gt;<span>JavaScript can change HTML content.</span>&lt;/p&gt;<br>
      <br>
      &lt;button type="<a>button</a>" onclick='<a>document.getElementById("demo").innerHTML = "Hello
        JavaScript!"</a>'&gt;Click Me!&lt;/button&gt;<br>
      <br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br><br><br><br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 15px; text-align: left;"><b>What Can JavaScript Do?</b></p>
      <p id="demo" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">JavaScript can change HTML
        content.</p>

      <ion-button (click)="changeContent()">Click Me!</ion-button>
    </ion-card>
    <br>

  </div>

  <ion-card class="desc-comment FadeInUp" style="text-align: left; border: none;">
    <p>JavaScript accepts both double and single quotes:</p>
  </ion-card>
  <hr style="width: 90%;">


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Can Change HTML Attribute Values</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">In this example JavaScript changes the value of the <span
          style="color: #ff5757;">src</span> (source) attribute of an <span style="color: #ff5757;">&lt;img&gt;</span>
        tag:</p>
    </ion-item>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">The example below "finds" an HTML element (with id="demo"), and changes the element
        content (innerHTML) to "Hello JavaScript":</p>
    </ion-item>


  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>
    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>What Can JavaScript Do?</span>&lt;/h2&gt;<br>
      &lt;p id=“<a>demo</a>”&gt;<span>JavaScript can change HTML attribute values.</span>&lt;/p&gt;<br>
      &lt;p id=“<a>demo</a>”&gt;<span>In this case JavaScript changes the value of the src (source) attribute of an
        image.</span>&lt;/p&gt;<br>
      <br>
      &lt;button type="<a>button</a>" onclick='<a>document.getElementById('myImage').src='pic_bulbon.gif'"</a>'&gt;Turn
      on the light&lt;/button&gt;<br>
      <br>
      &lt;img id="<a>myImage</a>" src="<a>pic_bulboff.gif</a>" style="<a>width:100px</a>" &gt;<br>
      <br>
      &lt;button type="<a>button</a>" onclick='<a>document.getElementById('myImage').src='pic_bulboff.gif'"</a>'&gt;Turn
      off the light&lt;/button&gt;<br>
      <br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br><br><br><br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 15px; text-align: left;"><b>What Can JavaScript Do?</b></p>
      <p id="demo" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">JavaScript can change HTML
        attribute values.</p>
      <p id="demo" style="margin: 0; font-size: 15px; margin-bottom: 15px; text-align: left;">In this case JavaScript
        changes the value of the src (source) attribute of an image.</p>
      <div style="display: flex; justify-content: center;">
        <button style="width: 100px; height: 30px; border: 1px solid black;"
          onclick="document.getElementById('myImage').src='../../assets/img/bulb-on.png'">Turn on the light</button>

        <img id="myImage" src="../../assets/img/bulb-off.png" style="width: 100px; height: 100px;">

        <button style="width: 100px; height: 30px; border: 1px solid black;"
          onclick="document.getElementById('myImage').src='../../assets/img/bulb-off.png'">Turn off the light</button>
      </div>
    </ion-card>
    <br>

  </div>

  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Can Change HTML Styles (CSS)</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Changing the style of an HTML element, is a variant of changing an HTML attribute:</p>
    </ion-item>

  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>
    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>What Can JavaScript Do?</span>&lt;/h2&gt;<br>
      &lt;p id=“<a>demo</a>”&gt;<span>JavaScript can change the style of an HTML element.</span>&lt;/p&gt;<br>
      <br>
      &lt;button type="<a>button</a>" onclick="<a>document.getElementById('demo').style.fontSize='35px'"</a>'&gt;Click
      Me!&lt;/button&gt;<br>
      <br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br><br><br><br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 20px; text-align: left;"><b>What Can JavaScript Do?</b></p>
      <p id="default-size" style="margin: 0; font-size: 15px; margin-bottom: 20px; text-align: left;">JavaScript can
        change the style of an HTML element.</p>
      <div style="display: flex; justify-content: left;">
        <ion-button (click)="changeTextSize()">Click Me!</ion-button>
      </div>
    </ion-card>
    <br>

  </div>


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Can Hide HTML Elements</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Hiding HTML elements can be done by changing the display style:</p>
    </ion-item>

  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>
    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>What Can JavaScript Do?</span>&lt;/h2&gt;<br>
      &lt;p id=“<a>demo</a>”&gt;<span>JavaScript can hide HTML elements</span>&lt;/p&gt;<br>
      <br>
      &lt;button type="<a>button</a>"
      onclick="<a>onclick="document.getElementById('demo').style.display='none'</a>'&gt;Click Me!&lt;/button&gt;<br>
      <br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br><br><br><br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 20px; text-align: left;"><b>What Can JavaScript Do?</b></p>
      <p id="textHide" style="margin: 0; font-size: 15px; margin-bottom: 20px; text-align: left;">JavaScript can hide
        HTML elements</p>
      <div style="display: flex; justify-content: left;">
        <ion-button (click)="textHideDisplay()">Click Me!</ion-button>
      </div>
    </ion-card>
    <br>

  </div>


  <div class="css-main-container">

    <h1 class="FadeInUp" style="font-size: 26px;">JavaScript Can Show HTML Elements</h1>

    <ion-item lines="none" class="FadeInUp">
      <ion-icon slot="start" class="custom-icon" name="radio-button-on-outline"></ion-icon>
      <p class="paragraph-spaces">Showing hidden HTML elements can also be done by changing the display style:</p>
    </ion-item>

  </div>


  <div class="css-main-container css-second-container">

    <h2 class="FadeInUp">EXAMPLE: </h2>
    <ion-card class="FadeInUp">

      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h2&gt;<span>What Can JavaScript Do?</span>&lt;/h2&gt;<br>
      &lt;p&gt;<span>JavaScript can hide HTML elements.</span>&lt;/p&gt;<br>
      &lt;p id=“<a>demo</a>” style="<a>display:none"</a> &gt;<span>Hello JavaScript!</span>&lt;/p&gt;<br>
      <br>
      &lt;button type="<a>button</a>" onclick="<a>document.getElementById('demo').style.display='block'"</a>'&gt;Click
      Me!&lt;/button&gt;<br>
      <br>
      &lt;/body&gt;<br>
      &lt;/html&gt;<br>

    </ion-card>

    <br><br><br><br>
    <h2 class="FadeInUp">OUTPUT: </h2>
    <ion-card class="FadeInUp" style="text-align: left; padding: 20px 0;">

      <p style="margin: 0; font-size: 27px; margin-bottom: 20px; text-align: left;"><b>What Can JavaScript Do?</b></p>
      <p style="margin: 0; font-size: 15px; margin-bottom: 20px; text-align: left;">JavaScript can hide HTML elements.
      </p>
      <p id="textShow" style="margin: 0; font-size: 15px; margin-bottom: 20px; text-align: left; display: none;">Hello
        JavaScript!</p>
      <div style="display: flex; justify-content: left;">
        <ion-button (click)="textShowDisplay()">Click Me!</ion-button>
      </div>
    </ion-card>
    <br>

  </div>

  <ion-card class="desc-comment FadeInUp" style="text-align: left;">
    <p>Did You Know?</p>
    <div></div>
    <ul style="margin: 0; color: black; font-size: 15px; font-weight: 5;">
      <li>
        JavaScript and <u>Java</u> are completely different languages, both in concept and design.
      </li>
      <li>
        JavaScript was invented by Brendan Eich in 1995, and became an ECMA standard in 1997.
      </li>
      <li style="margin-bottom: 15px;">
        ECMA-262 is the official name of the standard. ECMAScript is the official name of the language.
      </li>
    </ul>
  </ion-card>

  <hr style="width: 90%;">

  <ion-item lines="none" class="FadeInUp">
    <ion-button class="test-exercise" shape="round" slot="end" button>click-here</ion-button>
    <h3><b>Test yourself with some exercises?</b></h3>
  </ion-item>

  <ion-item lines="none" class="back-next FadeInUp">
    <ion-button shape="round" slot="start" routerLink="/js">BACK</ion-button>
    <br><br><br><br>
    <br>
    <ion-button shape="round" slot="end" routerLink="/js-whereto">NEXT CHAPTER</ion-button>
  </ion-item>


</ion-content>