<ion-header [translucent]="true">


  <div class="headerWrapper">
      <ion-icon name="arrow-back-outline" class="iconBack" (click)="navigateToSelector()"></ion-icon>
      <h1>Test your Java knowledge!</h1>
  </div>



</ion-header>

<ion-content [fullscreen]="true">

  <div class="diffWrapper">

    <div class="infHeader">
      <h1>CSS Activity</h1>
      <hr class="hrBlack">
      <p>You can test your Java skills with *INSERT  APP NAME* Quiz.</p>
      <hr class="hrGray">
      <p>The test is not official, it's just a nice way to see how much you know, or don't know, about Java.</p>
      <hr class="hrGray">
    </div>

    <div class="options">
      <div class="optHeader">
        <div class="iconDiv">
            <img src="assets\langAssets\levels.png" alt="" class="iconImg">
        </div>

        <h2 class="header">Levels of Difficulty</h2>
      </div>

      <div class="optionsWrapper">
        <div class="option">
          <ion-button class="buttons" (click)="presentModal('Intro','Java')">Intro</ion-button>
        </div>

        <div class="option">
          <ion-button class="buttons" (click)="presentModal('Basic','Java')">Basic</ion-button>
        </div>

        <div class="option">
          <ion-button class="buttons" (click)="navigateToExercise('Intermediate','Java')">Intermediate</ion-button>
        </div>

        <div class="option">
          <ion-button class="buttons" (click)="navigateToExercise('AbIntermediate','Java')">Above Intermediate</ion-button>
        </div>
      </div>

    </div>


  </div>

</ion-content>
