<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>exerciseSelector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <div class="headerIcon">
      <img src="assets\langAssets\qs.png" alt="">
    </div>
    <p>Choose one of the following languages you want to take an exercise with.</p>
  </div>


  <div class="optionContainer">

       <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\html.png" alt="" class="icon">
        </div>

        <ion-button routerLink ="/htmldiffpage" class="optionButton">HTML</ion-button>

      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\css.png" alt="" class="icon">
        </div>
        

        <ion-button routerLink = "/cssdiffpage" class="optionButton">CSS</ion-button>
        
      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\python.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton">Python</ion-button>
        
      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\js.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton">Javascript</ion-button>
        
      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\php.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton">PHP</ion-button>
        
      </div>


      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\c++.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton">C++</ion-button>
        
      </div>

      
  </div>


    

  
</ion-content>
