<ion-header [translucent]="true">
  <div class="headerWrapper">
    <ion-icon name="arrow-back-outline" class="iconBack" (click)="navigateToHome()"></ion-icon>
 </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <div class="headerIcon">
      <img src="assets\langAssets\qs.png" alt="">
    </div>
    <p>Choose one of the following languages you want to take an exercise with.</p>
  </div>


  <div class="optionContainer">

       <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\html.png" alt="" class="icon">
        </div>

        <ion-button routerLink ="/htmldiffpage" class="optionButton">HTML</ion-button>

      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\css.png" alt="" class="icon">
        </div>
        

        <ion-button routerLink = "/cssdiffpage" class="optionButton">CSS</ion-button>
        
      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\python.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton" routerLink="/pythondifpage">Python</ion-button>
        
      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\js.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton" routerLink="/javascriptdiffpage">Javascript</ion-button>
        
      </div>

      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\php.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton" routerLink="/phpdiffpage">PHP</ion-button>
        
      </div>


      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\c++.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton" routerLink="/cppdiffpage">C++</ion-button>
        
      </div>



      
      <div class="optionWrapper">

        <div class="iconDiv">
          <img src="assets\langAssets\java.png" alt="" class="icon">
        </div>
        

        <ion-button class="optionButton" routerLink="/javadiffpage">Java</ion-button>
        
      </div>

      
  </div>


    

  
</ion-content>
