<app-nav-bar  id="sqlMain"></app-nav-bar>
<ion-content class="background">
  <div class="background-wrapper">
    <div class="background"></div>
  </div>
  <!--SIMULA NG SQL-->
  <h1 class="html">SQL</h1>
  <div class="center-container">
    <div class="htmlfront">
      <p>A standard language for storing, manipulating and retrieving data in databases..</p>
      <p>Our SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres, and other database systems.</p>
    </div>
  </div>
  <div class="htmlbutton">
    <ion-button [routerLink]="['/sqlintro']"><u>SQL Introduction</u></ion-button>
    <ion-button [routerLink]="['/sqlsyntax']"><u>SQL Syntax</u></ion-button>
    <ion-button [routerLink]="['/sqlselect']"><u>SQL Select</u></ion-button>
    <ion-button [routerLink]="['/sqlinsert']"><u>SQL Insert Into</u></ion-button>
  </div>
</ion-content>